playbook-Block_Account_-_Generic_v2.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.5.0
    itemVersion: 2.3.57
    packID: CommonPlaybooks
    packName: Common Playbooks
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: |-
  This playbook blocks malicious usernames using all integrations that you have enabled.

  Supported integrations for this playbook:
  * Active Directory
  * PAN-OS - This requires PAN-OS 9.1 or higher.
  * SailPoint
  * PingOne
  * AWS IAM
  * Clarizen IAM
  * Envoy IAM
  * ExceedLMS IAM
  * Okta
id: Block Account - Generic v2
inputs:
- description: Array of malicious usernames to block.
  key: Username
  playbookInputQuery: null
  required: false
  value: {}
- description: PAN-OS Tag name to apply to the username that you want to block.
  key: Tag
  playbookInputQuery: null
  required: false
  value:
    simple: Bad Account
- description: In case you are using naming convention in your IDP, please specify
    a prefix for special/service accounts (use comma separated)
  key: NamingConvention
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    Possible values:True/False. Default:True.
    Specify if User Verification is Requrired
  key: UserVerification
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
name: Block Account - Generic v2
outputs:
- contextPath: Blocklist.Final
  description: Blocked accounts
  type: unknown
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: cc38d57c-1f3a-4616-8fc3-b3d5b2beefb3
      iscommand: false
      name: ""
      version: -1
    taskid: cc38d57c-1f3a-4616-8fc3-b3d5b2beefb3
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": -810,
          "y": -1440
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9fdd6cf9-21d1-49be-8e64-afd1cedc86da
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 9fdd6cf9-21d1-49be-8e64-afd1cedc86da
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -1070,
          "y": 1210
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
      - "18"
      - "19"
      - "20"
      - "21"
      - "22"
      - "23"
      - "25"
      - "24"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: df7e57df-4f26-4b41-8552-0d4068792d13
      iscommand: false
      name: Block accounts
      type: title
      version: -1
    taskid: df7e57df-4f26-4b41-8552-0d4068792d13
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -1070,
          "y": 360
        }
      }
  "8":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.Username
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "39"
      "yes":
      - "38"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Verify that the playbook input includes at least one username to
        block.
      id: 84a222c3-d83f-4d9c-8f75-605f9c1cd233
      iscommand: false
      name: Is there a username to block?
      type: condition
      version: -1
    taskid: 84a222c3-d83f-4d9c-8f75-605f9c1cd233
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -810,
          "y": -1250
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      Users:
        simple: ${Blocklist.Final}
      tag:
        simple: ${inputs.Tag}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Apply a tag to a user.
      id: 6c4b8a60-449b-4710-89e8-a68c32fdda28
      iscommand: true
      name: PAN-OS - Register Tag to User
      script: '|||panorama-register-user-tag'
      type: regular
      version: -1
    taskid: 6c4b8a60-449b-4710-89e8-a68c32fdda28
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 630,
          "y": 1040
        }
      }
  "16":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.Tag
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "15"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Verify that the playbook input includes at least one tag to apply
        to the user.
      id: 134ffe20-63fc-486a-8a79-685e3d206ae8
      iscommand: false
      name: Is there a Tag name to register?
      type: condition
      version: -1
    taskid: 134ffe20-63fc-486a-8a79-685e3d206ae8
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 630,
          "y": 850
        }
      }
  "17":
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: dd28a21a-8e77-4e94-8ebd-6b4dd2a40907
      iscommand: false
      name: OKTA
      type: title
      version: -1
    taskid: dd28a21a-8e77-4e94-8ebd-6b4dd2a40907
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -2810,
          "y": 505
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "27"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 253e9206-6499-4698-81bc-4f6b405723e9
      iscommand: false
      name: SailPointt
      type: title
      version: -1
    taskid: 253e9206-6499-4698-81bc-4f6b405723e9
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -210,
          "y": 505
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "28"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4665f43b-c357-46ab-8658-1f5307d73e34
      iscommand: false
      name: AWS IAM
      type: title
      version: -1
    taskid: 4665f43b-c357-46ab-8658-1f5307d73e34
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -1070,
          "y": 505
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "29"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9f3e4789-ef65-4d8b-8142-b931aca2d1b8
      iscommand: false
      name: PingOne
      type: title
      version: -1
    taskid: 9f3e4789-ef65-4d8b-8142-b931aca2d1b8
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -640,
          "y": 505
        }
      }
  "21":
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "30"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5af0265d-f69a-47ef-8fdd-8be726ab8812
      iscommand: false
      name: Clarizen IAM
      type: title
      version: -1
    taskid: 5af0265d-f69a-47ef-8fdd-8be726ab8812
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -1490,
          "y": 505
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "31"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8170d464-f524-484a-8578-d2d5c6b44c24
      iscommand: false
      name: Envoy IAM
      type: title
      version: -1
    taskid: 8170d464-f524-484a-8578-d2d5c6b44c24
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -1920,
          "y": 505
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "32"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9426248c-bc57-4e2a-898c-333c705fe7c9
      iscommand: false
      name: ExceedLMS IAM
      type: title
      version: -1
    taskid: 9426248c-bc57-4e2a-898c-333c705fe7c9
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -2340,
          "y": 505
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e3d46f19-bf96-4280-887d-c746b0e95976
      iscommand: false
      name: PAN-OS
      type: title
      version: -1
    taskid: e3d46f19-bf96-4280-887d-c746b0e95976
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 630,
          "y": 505
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "37"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 00761e97-8a6e-48f4-85fb-d894509a2c17
      iscommand: false
      name: Microsoft Active Directory
      type: title
      version: -1
    taskid: 00761e97-8a6e-48f4-85fb-d894509a2c17
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 210,
          "y": 505
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "33"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: '*Okta*'
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: 92f808bf-47dd-4977-8c52-8a09be270c50
      iscommand: false
      name: Is OKTA Integration Enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 92f808bf-47dd-4977-8c52-8a09be270c50
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -2810,
          "y": 665
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "35"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: SailPointIdentityIQ
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: dd2b4f80-9359-4c8a-81df-273f7f7455d0
      iscommand: false
      name: Is SailPointIntegration Enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: dd2b4f80-9359-4c8a-81df-273f7f7455d0
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -210,
          "y": 665
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "33"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: AWS - IAM
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: c00031c8-63dc-447a-8064-458b8b89c0b9
      iscommand: false
      name: Is AWS IAM Integration Enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: c00031c8-63dc-447a-8064-458b8b89c0b9
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -1070,
          "y": 665
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "34"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: PingOne
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: db239f1c-c3d2-4a09-86c8-918d82b472ce
      iscommand: false
      name: Is PingOne Integration Enabled
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: db239f1c-c3d2-4a09-86c8-918d82b472ce
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -640,
          "y": 665
        }
      }
  "30":
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "33"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: ClarizenIAM
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: 1e40e759-f2e0-46f7-8c4c-e6c305ada2fe
      iscommand: false
      name: Is ClarizenIAM Integration Enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 1e40e759-f2e0-46f7-8c4c-e6c305ada2fe
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -1490,
          "y": 665
        }
      }
  "31":
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "33"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: Envoy IAM
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: fb911ee9-5627-4f7b-8fe6-93e0340f148e
      iscommand: false
      name: Is Envoy IAM Integration Enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: fb911ee9-5627-4f7b-8fe6-93e0340f148e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -1920,
          "y": 665
        }
      }
  "32":
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "33"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: ExceedLMS IAM
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: 7b4873ae-abf2-4c7f-86e2-9472cd77dd45
      iscommand: false
      name: Is ExceedLMS IAM Integration Enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 7b4873ae-abf2-4c7f-86e2-9472cd77dd45
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -2340,
          "y": 665
        }
      }
  "33":
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      user-profile:
        simple: ${Blocklist.Final}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Disable an active user.
      id: 85bde384-178d-44b1-8c73-5899e51cf664
      iscommand: true
      name: IAM Disable User
      script: '|||iam-disable-user'
      type: regular
      version: -1
    taskid: 85bde384-178d-44b1-8c73-5899e51cf664
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1920,
          "y": 850
        }
      }
  "34":
    continueonerrortype: ""
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      username:
        simple: ${Blocklist.Final}
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Deactivate a user's account.
      id: 08d5ce28-f0dd-4a81-889a-383591a50ad5
      iscommand: true
      name: PingOne - Deactivate user
      script: '|||pingone-deactivate-user'
      type: regular
      version: -1
    taskid: 08d5ce28-f0dd-4a81-889a-383591a50ad5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -640,
          "y": 850
        }
      }
  "35":
    continueonerrortype: ""
    id: "35"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      id:
        simple: ${Blocklist.Final}
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Disable account's active status by id using IdentityIQ SCIM API's.
      id: 50b2030e-e402-47f1-86df-5b5f4e8e7077
      iscommand: true
      name: SailPoint-Disable account
      script: '|||identityiq-disable-account'
      type: regular
      version: -1
    taskid: 50b2030e-e402-47f1-86df-5b5f4e8e7077
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -210,
          "y": 850
        }
      }
  "36":
    continueonerrortype: ""
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "16"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: Panorama
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: e2c1217e-db0c-4f22-8d3d-f4c71d978617
      iscommand: false
      name: Is PAN-OS/Panorama Integration Enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: e2c1217e-db0c-4f22-8d3d-f4c71d978617
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 630,
          "y": 665
        }
      }
  "37":
    continueonerrortype: ""
    id: "37"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "48"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: Active Directory Query v2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: 4a5b5136-cfb5-4c5b-8d08-2749e39a02a1
      iscommand: false
      name: Is Active Directory Integration Enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 4a5b5136-cfb5-4c5b-8d08-2749e39a02a1
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 210,
          "y": 665
        }
      }
  "38":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.UserVerification
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "38"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "47"
      "yes":
      - "40"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if manual verification is required before block
      id: c34085c0-1974-4153-8f36-fb22e4ba0c4e
      iscommand: false
      name: Is User Verification Required?
      type: condition
      version: -1
    taskid: c34085c0-1974-4153-8f36-fb22e4ba0c4e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -810,
          "y": -1040
        }
      }
  "39":
    continueonerrortype: ""
    id: "39"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: eda8a397-b0f5-4cb8-85a6-804bbbf59244
      iscommand: false
      name: No User to be blocked
      type: title
      version: -1
    taskid: eda8a397-b0f5-4cb8-85a6-804bbbf59244
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -3090,
          "y": 1065
        }
      }
  "40":
    continueonerrortype: ""
    id: "40"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "42"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: checks.common
      value:
        complex:
          root: inputs.NamingConvention
          transformers:
          - args:
              limit: {}
              replaceWith: {}
              toReplace:
                value:
                  simple: ' '
            operator: replace
          - args:
              delimiter:
                value:
                  simple: ','
            operator: split
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-2/cortex-xsoar-admin/playbooks/automations.html
      id: 90c4e379-c164-495b-8bd0-74e807433506
      iscommand: false
      name: Set Naming Convention to a key
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 90c4e379-c164-495b-8bd0-74e807433506
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1340,
          "y": -870
        }
      }
  "41":
    continueonerrortype: ""
    id: "41"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "45"
      - "43"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: Blocklist.Sensitive
      value:
        complex:
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: Blocklist.Potential
              operator: StringContainsArray
              right:
                iscontext: true
                value:
                  simple: checks.common
          root: Blocklist.Potential
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-2/cortex-xsoar-admin/playbooks/automations.html
      id: 603550b4-89d3-4df1-84d9-1eb2951e0871
      iscommand: false
      name: Identify Potential Sensitive Users
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 603550b4-89d3-4df1-84d9-1eb2951e0871
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1340,
          "y": -550
        }
      }
  "42":
    continueonerrortype: ""
    id: "42"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "41"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: Blocklist.Potential
      value:
        complex:
          root: inputs.Username
          transformers:
          - args:
              delimiter:
                value:
                  simple: ','
            operator: split
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-2/cortex-xsoar-admin/playbooks/automations.html
      id: 93dc1c23-81e4-40fd-8f62-9f4290882421
      iscommand: false
      name: Set User to a potential block list
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 93dc1c23-81e4-40fd-8f62-9f4290882421
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1340,
          "y": -710
        }
      }
  "43":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Blocklist.Sensitive
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "43"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "45"
      "yes":
      - "44"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if there are any sensitive users to block
      id: 39b3cf6c-5757-447b-8188-9ead6e21a445
      iscommand: false
      name: Check if there are any sensitive users to block
      type: condition
      version: -1
    taskid: 39b3cf6c-5757-447b-8188-9ead6e21a445
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -1780,
          "y": -380
        }
      }
  "44":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: 'Sensitive Users:'
        options: []
        optionsarg:
        - simple: ${Blocklist.Sensitive}
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      sender: ""
      title: 'Which sensitive users you would like to Block?  Choose from the following
        lists :'
      totalanswers: 0
    id: "44"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: |
          <p>Dear XSOAR user,</p>
          <p>This notification informs you that the following list of sensitive accounts will be blocked on your XSOAR's integrated IDP/IAM devices.</p>
          <p><br />(<strong>Note</strong>: the Accounts will be set to disabled on those XSOAR integrated devices).</p>
          <p>Also, <strong>please note</strong> that the following accounts are listed as <strong> "Sensitive Accounts" based on a naming convention </strong> mentioned in the playbook:</p>
          <p>${Blocklist.Sensitive}</p>
          <p>&nbsp;</p>
          <p>For more information, click the link below.</p>
      cc:
        simple: Administrator
      format: html
      methods:
      - email
      subject:
        simple: Block Sensitive Account - User Verification Form
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to:
        simple: Analyst
    nexttasks:
      '#none#':
      - "52"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Please note that in this form there are serval accounts that are listed as "Sensitive Accounts":
        ${User.Sensetive}
      id: 6ab46eeb-8460-44ab-8b96-0c6a35e38581
      iscommand: false
      name: Ask the user for verification [Sensitive Users]
      type: collection
      version: -1
    taskid: 6ab46eeb-8460-44ab-8b96-0c6a35e38581
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": -1780,
          "y": -180
        }
      }
  "45":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: 'Users to be blocked:'
        options: []
        optionsarg:
        - complex:
            accessor: Potential
            root: Blocklist
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      sender: ""
      title: 'Which Users you would like to Block?  Choose from the following lists
        :'
      totalanswers: 0
    id: "45"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: |
          <p>Dear XSOAR user,</p>
          <p>This notification informs you that the following list of accounts will be blocked on your XSOAR's integrated IDP/IAM devices.</p>
          <p><br />(<strong>Note</strong>: the Accounts will be set to disabled on those XSOAR integrated devices).</p>
          <p>&nbsp;</p>
          <p>For more information, click the link below.</p>
      cc:
        simple: Administrator
      format: html
      methods:
      - email
      subject:
        simple: Block Account - User Verification Form
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to:
        simple: Analyst
    nexttasks:
      '#none#':
      - "52"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Please note that in this form there are serval accounts that are listed as "Sensitive Accounts":
        ${User.Sensetive}
      id: 4d484404-eefc-4cf6-8f56-abdae89d61e6
      iscommand: false
      name: Ask the user for verification [without Sensitive Users]
      type: collection
      version: -1
    taskid: 4d484404-eefc-4cf6-8f56-abdae89d61e6
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": -1340,
          "y": -180
        }
      }
  "46":
    continueonerrortype: ""
    id: "46"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: Blocklist.Final
      value:
        complex:
          accessor: 0}
          root: ${Which Users you would like to Block?  Choose from the following
            lists :.Answers
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: Which sensitive users you would like to Block?  Choose from
                    the following lists :.Answers.0
            operator: append
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-2/cortex-xsoar-admin/playbooks/automations.html
      id: 9e174bd8-73a8-46ef-8a56-138a1cac0b61
      iscommand: false
      name: Set the final accounts list to be blocked
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 9e174bd8-73a8-46ef-8a56-138a1cac0b61
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1340,
          "y": 180
        }
      }
  "47":
    continueonerrortype: ""
    id: "47"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: Blocklist.Final
      value:
        simple: ${inputs.Username}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-2/cortex-xsoar-admin/playbooks/automations.html
      id: f97632fd-1653-4fda-8222-e8dbe5c36646
      iscommand: false
      name: Set the final accounts list to be blocked
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: f97632fd-1653-4fda-8222-e8dbe5c36646
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -810,
          "y": 190
        }
      }
  "48":
    continueonerrortype: ""
    id: "48"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      username:
        simple: ${Blocklist.Final}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Active Directory Query v2
      description: Disables an Active Directory user account.
      id: f9188978-a51d-4e86-8420-1749db9f1d3b
      iscommand: true
      name: Active Directory - Disable Account
      script: Active Directory Query v2|||ad-disable-account
      type: regular
      version: -1
    taskid: f9188978-a51d-4e86-8420-1749db9f1d3b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 210,
          "y": 850
        }
      }
  "52":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Which Users you would like to Block?  Choose from the following
                lists :.Answers.0
          operator: isNotEmpty
          right:
            value: {}
        - left:
            iscontext: true
            value:
              simple: Which sensitive users you would like to Block?  Choose from
                the following lists :.Answers.0
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "52"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "39"
      "yes":
      - "46"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if the analyst selected any users to block
      id: 64ddf917-048c-444b-8fea-b9529a3ad0b3
      iscommand: false
      name: Is Username selected?
      type: condition
      version: -1
    taskid: 64ddf917-048c-444b-8fea-b9529a3ad0b3
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -1340,
          "y": 0
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "16_15_yes": 0.71,
      "16_2_#default#": 0.1,
      "26_2_#default#": 0.11,
      "26_33_yes": 0.14,
      "27_2_#default#": 0.1,
      "28_2_#default#": 0.15,
      "28_33_yes": 0.19,
      "29_2_#default#": 0.11,
      "30_2_#default#": 0.2,
      "30_33_yes": 0.1,
      "31_2_#default#": 0.33,
      "31_33_yes": 0.29,
      "32_2_#default#": 0.1,
      "32_33_yes": 0.24,
      "36_2_#default#": 0.1,
      "37_2_#default#": 0.12,
      "43_44_yes": 0.49,
      "8_38_yes": 0.65,
      "8_39_#default#": 0.13
    },
    "paper": {
      "dimensions": {
        "height": 2715,
        "width": 4100,
        "x": -3090,
        "y": -1440
      }
    }
  }
