playbook-Account_Enrichment_-_Generic_v2.1.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.5.0
    itemVersion: 2.3.57
    packID: CommonPlaybooks
    packName: Common Playbooks
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: |-
  Enrich accounts using one or more integrations.
  Supported integrations:
  - Active Directory
  - SailPoint IdentityNow
  - SailPoint IdentityIQ
  - PingOne
  - Okta
  - AWS IAM

  Also, the playbook supports the generic command 'iam-get-user' (implemented in IAM integrations. For more information, visit https://xsoar.pan.dev/docs/integrations/iam-integrations.
id: Account Enrichment - Generic v2.1
inputs:
- description: The username to enrich.
  key: Username
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: Username
      root: Account
      transformers:
      - operator: uniq
- description: |-
    Optional - This input is needed for the IAM-get-user command (used in the Account Enrichment - IAM playbook). Please provide the domain name that the user is related to.
    Example: @xsoar.com
  key: Domain
  playbookInputQuery: null
  required: false
  value: {}
name: Account Enrichment - Generic v2.1
outputs:
- contextPath: Account
  description: The account object.
  type: unknown
- contextPath: ActiveDirectory.Users.sAMAccountName
  description: The user's SAM account name.
- contextPath: ActiveDirectory.Users.userAccountControl
  description: The user's account control flag.
- contextPath: ActiveDirectory.Users.mail
  description: The user's email address.
- contextPath: ActiveDirectory.Users.memberOf
  description: Groups the user is a member of.
- contextPath: IAM
  description: Generic IAM output.
  type: unknown
- contextPath: IdentityIQ.Identity
  description: Identity asset from IdentityIQ.
  type: unknown
- contextPath: PingOne.Account
  description: Account in PingID.
  type: unknown
- contextPath: ActiveDirectory.Users.manager
  description: The manager of the user.
- contextPath: IAM.Vendor.active
  description: When true, indicates that the employee's status is active in the 3rd-party
    integration.
- contextPath: IAM.Vendor.brand
  description: Name of the integration.
- contextPath: IAM.Vendor.details
  description: Provides the raw data from the 3rd-party integration.
- contextPath: IAM.Vendor.email
  description: The employee's email address.
- contextPath: IAM.Vendor.errorCode
  description: HTTP error response code.
- contextPath: IAM.Vendor.errorMessage
  description: Reason why the API failed.
- contextPath: IAM.Vendor.id
  description: The employee's user ID in the app.
- contextPath: IAM.Vendor.instanceName
  description: Name of the integration instance.
- contextPath: IAM.Vendor.success
  description: When true, indicates that the command was executed successfully.
- contextPath: IAM.Vendor.username
  description: The employee's username in the app.
- contextPath: IdentityIQ.Identity.userName
  description: The IdentityIQ username (primary ID).
- contextPath: IdentityIQ.Identity.id
  description: The IdentityIQ internal ID (UUID).
- contextPath: IdentityIQ.Identity.active
  description: Indicates whether the ID is active or inactive in IdentityIQ.
- contextPath: IdentityIQ.Identity.lastModified
  description: Timestamp of when the identity was last modified.
- contextPath: IdentityIQ.Identity.displayName
  description: The display name of the identity.
- contextPath: IdentityIQ.Identity.emails
  description: Array of email objects.
- contextPath: IdentityIQ.Identity.entitlements
  description: Array of entitlement objects that the identity has.
- contextPath: IdentityIQ.Identity.roles
  description: Array of role objects that the identity has.
- contextPath: IdentityIQ.Identity.capabilities
  description: Array of string representations of the IdentityIQ capabilities assigned
    to this identity.
- contextPath: IdentityIQ.Identity.name
  description: Account name.
  type: unknown
- contextPath: IdentityIQ.Identity.name.formatted
  description: The display name of the identity.
- contextPath: IdentityIQ.Identity.name.familyName
  description: The last name of the identity.
- contextPath: IdentityIQ.Identity.name.givenName
  description: The first name of the identity.
- contextPath: IdentityIQ.Identity.manager
  description: The account's manager returned from IdentityIQ.
  type: unknown
- contextPath: IdentityIQ.Identity.manager.userName
  description: The IdentityIQ username (primary ID) of the identity's manager.
- contextPath: IdentityIQ.Identity.emails.type
  description: Type of the email being returned.
- contextPath: IdentityIQ.Identity.emails.value
  description: The email address of the identity.
- contextPath: IdentityIQ.Identity.emails.primary
  description: Indicates if this email address is the identity's primary email.
- contextPath: PingOne.Account.ID
  description: PingOne account ID.
- contextPath: PingOne.Account.Username
  description: PingOne account username.
- contextPath: PingOne.Account.DisplayName
  description: PingOne account display name.
- contextPath: PingOne.Account.Email
  description: PingOne account email.
- contextPath: PingOne.Account.Enabled
  description: PingOne account enabled status.
- contextPath: PingOne.Account.CreatedAt
  description: PingOne account create date.
- contextPath: PingOne.Account.UpdatedAt
  description: PingOne account updated date.
- contextPath: Account.PasswordChanged
  description: Timestamp for when the user's password was last changed.
- contextPath: Account.StatusChanged
  description: Timestamp for when the user's status was last changed.
- contextPath: Account.Activated
  description: Timestamp for when the user was activated.
- contextPath: Account.Created
  description: Timestamp for when the user was created.
- contextPath: Account.Status
  description: Okta account status.
- contextPath: Account.Username
  description: The user SAM account name.
- contextPath: Account.Email
  description: The user email address.
- contextPath: Account.ID
  description: The user distinguished name.
- contextPath: ActiveDirectory.Users.dn
  description: The user distinguished name.
- contextPath: ActiveDirectory.Users.displayName
  description: The user display name.
- contextPath: ActiveDirectory.Users.name
  description: The user common name.
- contextPath: ActiveDirectory.Users.userAccountControlFields
  description: The user account control fields.
  type: unknown
- contextPath: ActiveDirectory.Users.userAccountControlFields.SCRIPT
  description: Whether the login script is run. Works for *Windows Server 2012 R2*.
- contextPath: ActiveDirectory.Users.userAccountControlFields.ACCOUNTDISABLE
  description: Whether the user account is disabled. Works for *Windows Server 2012
    R2*.
- contextPath: ActiveDirectory.Users.userAccountControlFields.HOMEDIR_REQUIRED
  description: Whether the home folder is required. Works for *Windows Server 2012
    R2*.
- contextPath: ActiveDirectory.Users.userAccountControlFields.LOCKOUT
  description: Whether the user is locked out. Works for *Windows Server 2012 R2*.
- contextPath: ActiveDirectory.Users.userAccountControlFields.PASSWD_NOTREQD
  description: Whether the password is required. Works for *Windows Server 2012 R2*.
- contextPath: ActiveDirectory.Users.userAccountControlFields.PASSWD_CANT_CHANGE
  description: Whether the user can change the password. Works for *Windows Server
    2012 R2*.
- contextPath: ActiveDirectory.Users.userAccountControlFields.ENCRYPTED_TEXT_PWD_ALLOWED
  description: Whether the user can send an encrypted password. Works for *Windows
    Server 2012 R2*.
- contextPath: ActiveDirectory.Users.userAccountControlFields.TEMP_DUPLICATE_ACCOUNT
  description: Whether this is an account for users whose primary account is in another
    domain. Works for *Windows Server 2012 R2*.
- contextPath: ActiveDirectory.Users.userAccountControlFields.NORMAL_ACCOUNT
  description: Whether this is a default account type that represents a typical user.
    Works for *Windows Server 2012 R2*.
- contextPath: ActiveDirectory.Users.userAccountControlFields.INTERDOMAIN_TRUST_ACCOUNT
  description: Whether the account is permitted to trust a system domain that trusts
    other domains. Works for *Windows Server 2012 R2*.
- contextPath: ActiveDirectory.Users.userAccountControlFields.WORKSTATION_TRUST_ACCOUNT
  description: Whether this is a computer account for a computer running Microsoft
    Windows NT 4.0 Workstation, Microsoft Windows NT 4.0 Server, Microsoft Windows
    2000 Professional, or Windows 2000 Server and is a member of this domain.
- contextPath: Account.Manager
  description: The user manager.
- contextPath: Account.Groups
  description: Groups for which the user is a member.
- contextPath: Account.DisplayName
  description: The user display name.
- contextPath: ActiveDirectory.Users.userAccountControlFields.PARTIAL_SECRETS_ACCOUNT
  description: Whether the account is a read-only domain controller (RODC).
- contextPath: ActiveDirectory.Users.userAccountControlFields.TRUSTED_TO_AUTH_FOR_DELEGATION
  description: Whether the account is enabled for delegation.
- contextPath: ActiveDirectory.Users.userAccountControlFields.DONT_REQ_PREAUTH
  description: Whether this account require Kerberos pre-authentication for logging
    on.
- contextPath: ActiveDirectory.Users.userAccountControlFields.USE_DES_KEY_ONLY
  description: Whether to restrict this principal to use only Data Encryption Standard
    (DES) encryption types for keys.
- contextPath: ActiveDirectory.Users.userAccountControlFields.NOT_DELEGATED
  description: Whether the security context of the user isn't delegated to a service
    even if the service account is set as trusted for Kerberos delegation.
- contextPath: ActiveDirectory.Users.userAccountControlFields.TRUSTED_FOR_DELEGATION
  description: Whether the service account (the user or computer account) under which
    a service runs is trusted for Kerberos delegation.
- contextPath: ActiveDirectory.Users.userAccountControlFields.SMARTCARD_REQUIRED
  description: Whether to force the user to log in by using a smart card.
- contextPath: ActiveDirectory.Users.userAccountControlFields.MNS_LOGON_ACCOUNT
  description: Whether this is an MNS login account.
- contextPath: ActiveDirectory.Users.userAccountControlFields.SERVER_TRUST_ACCOUNT
  description: Whether this is a computer account for a domain controller that is
    a member of this domain. Works for *Windows Server 2012 R2*.
- contextPath: IAM.Vendor
  description: The returning results vendor.
  type: unknown
- contextPath: IAM.Vendor.action
  description: The command name.
- contextPath: IAM.UserProfile
  description: The user profile.
- contextPath: SailPointIdentityNow.Account
  description: The IdentityNow account object.
  type: unknown
- contextPath: SailPointIdentityNow.Account.id
  description: The IdentityNow internal ID (UUID).
- contextPath: SailPointIdentityNow.Account.name
  description: Name of the identity on this account.
- contextPath: SailPointIdentityNow.Account.identityId
  description: The IdentityNow internal identity ID.
- contextPath: SailPointIdentityNow.Account.nativeIdentity
  description: The IdentityNow internal native identity ID.
- contextPath: SailPointIdentityNow.Account.sourceId
  description: Source ID that maps this account.
- contextPath: SailPointIdentityNow.Account.created
  description: Timestamp when the account was created.
- contextPath: SailPointIdentityNow.Account.modified
  description: Timestamp when the account was last modified.
- contextPath: SailPointIdentityNow.Account.attributes
  description: Map of variable number of attributes unique to this account.
- contextPath: SailPointIdentityNow.Account.authoritative
  description: Indicates whether the account is the true source for this identity.
- contextPath: SailPointIdentityNow.Account.disabled
  description: Indicates whether the account is disabled.
- contextPath: SailPointIdentityNow.Account.locked
  description: Indicates whether the account is locked.
- contextPath: SailPointIdentityNow.Account.systemAccount
  description: Indicates whether the account is a system account.
- contextPath: SailPointIdentityNow.Account.uncorrelated
  description: Indicates whether the account is uncorrelated.
- contextPath: SailPointIdentityNow.Account.manuallyCorrelated
  description: Indicates whether the account was manually correlated.
- contextPath: SailPointIdentityNow.Account.hasEntitlements
  description: Indicates whether the account has entitlement.
- contextPath: UserManagerEmail
  description: The email of the user's manager.
- contextPath: UserManagerDisplayName
  description: The display name of the user's manager.
  type: unknown
- contextPath: MSGraphUser.ID
  description: User's ID.
- contextPath: MSGraphUser.DisplayName
  description: User's display name.
- contextPath: MSGraphUser.GivenName
  description: User's given name.
- contextPath: MSGraphUser.JobTitle
  description: User's job title.
- contextPath: MSGraphUser.Mail
  description: User's mail address.
- contextPath: MSGraphUser.Surname
  description: User's surname.
- contextPath: MSGraphUser.UserPrincipalName
  description: User's principal name.
- contextPath: MSGraphUserManager.Manager.ID
  description: Manager's user ID.
- contextPath: MSGraphUserManager.Manager.DisplayName
  description: User's display name.
- contextPath: MSGraphUserManager.Manager.GivenName
  description: User's given name.
- contextPath: MSGraphUserManager.Manager.Mail
  description: User's mail address.
- contextPath: MSGraphUserManager.Manager.Surname
  description: User's surname.
- contextPath: MSGraphUserManager.Manager.UserPrincipalName
  description: User's principal name.
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a6743119-6f7b-4ad2-86f8-d7e6f17415a3
      iscommand: false
      name: ""
      version: -1
    taskid: a6743119-6f7b-4ad2-86f8-d7e6f17415a3
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": -1080,
          "y": -200
        }
      }
  "1":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.Username
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "48"
      - "9"
      - "50"
      - "16"
      - "11"
      - "32"
      - "42"
      - "55"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there is at least one username to enrich.
      id: e65d46a0-7fec-4864-8764-502a22d3032a
      iscommand: false
      name: Is there an account to enrich?
      type: condition
      version: -1
    taskid: e65d46a0-7fec-4864-8764-502a22d3032a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -1080,
          "y": -67
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b5a047e4-ca2a-4881-8a80-de3d0886ea64
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: b5a047e4-ca2a-4881-8a80-de3d0886ea64
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -1080,
          "y": 1230
        }
      }
  "4":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Active Directory Query v2
                - - left:
                      iscontext: true
                      value:
                        simple: state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there’s an active instance of the Active Directory Query
        v2 integration enabled.
      id: 9b07e7c9-ff70-410d-881c-02389fbf4c1e
      iscommand: false
      name: Is Active Directory Query v2 enabled?
      type: condition
      version: -1
    taskid: 9b07e7c9-ff70-410d-881c-02389fbf4c1e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 235
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "53"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      username:
        complex:
          root: inputs.Username
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Queries Active Directory and returns information for the specified
        username.
      id: 279df40d-49df-4bd1-8e4c-72f678bba913
      iscommand: true
      name: Get account info from Active Directory
      script: '|||ad-get-user'
      type: regular
      version: -1
    taskid: 279df40d-49df-4bd1-8e4c-72f678bba913
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 430
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 148faf68-5ced-41f4-82c0-f98fa9d82037
      iscommand: false
      name: SailPoint IdentityIQ
      type: title
      version: -1
    taskid: 148faf68-5ced-41f4-82c0-f98fa9d82037
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -420,
          "y": 105
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 58620334-72c1-4be6-87a2-84ed544c4a8a
      iscommand: false
      name: PingOne
      type: title
      version: -1
    taskid: 58620334-72c1-4be6-87a2-84ed544c4a8a
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 870,
          "y": 105
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b5887cbc-9c89-47ba-8802-86c66ed0c85a
      iscommand: false
      name: Microsoft Active Directory
      type: title
      version: -1
    taskid: b5887cbc-9c89-47ba-8802-86c66ed0c85a
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 105
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "29"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: SailPointIdentityIQ
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if the integration brand is available. Otherwise
        returns 'no'
      id: 93b0d852-2215-4504-8179-64a62951fbcc
      iscommand: false
      name: Is SailPoint IdentityIQ Integration Enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 93b0d852-2215-4504-8179-64a62951fbcc
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -420,
          "y": 235
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "31"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: PingOne
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if the integration brand is available. Otherwise
        returns 'no'
      id: 82adaccd-d799-44ae-85ec-ee4ca516aab6
      iscommand: false
      name: Is PingOne Integration Enabled
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 82adaccd-d799-44ae-85ec-ee4ca516aab6
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 870,
          "y": 235
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      id:
        complex:
          root: inputs.Username
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Search identities by search/filter parameters (ID, email, risk
        & active) using IdentityIQ SCIM APIs.
      id: c710fdc9-d697-47b3-8413-8f8f2934c701
      iscommand: true
      name: Get account info from IdentityIQ
      script: '|||identityiq-search-identities'
      type: regular
      version: -1
    taskid: c710fdc9-d697-47b3-8413-8f8f2934c701
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -420,
          "y": 430
        }
      }
  "31":
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      username:
        complex:
          root: inputs.Username
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Returns a PingOne user. One of the following has to be given -
        username or userId.
      id: d424680a-a74d-4de6-8478-a1d328d09b5e
      iscommand: true
      name: Get account info from PingOne
      script: '|||pingone-get-user'
      type: regular
      version: -1
    taskid: d424680a-a74d-4de6-8478-a1d328d09b5e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 870,
          "y": 430
        }
      }
  "32":
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4e5ba461-1f35-4898-8f03-940b3e3dd950
      iscommand: false
      name: OKTA
      type: title
      version: -1
    taskid: 4e5ba461-1f35-4898-8f03-940b3e3dd950
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1290,
          "y": 105
        }
      }
  "33":
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "34"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: Okta v2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if the integration brand is available. Otherwise
        returns 'no'
      id: e0b7f17c-70f7-4330-8f06-c3729e226adb
      iscommand: false
      name: Is OKTA v2 integration enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: e0b7f17c-70f7-4330-8f06-c3729e226adb
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1290,
          "y": 235
        }
      }
  "34":
    continueonerrortype: ""
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      username:
        complex:
          root: inputs.Username
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Fetches information for a single user. You must enter one or more
        parameters for the command to run.
      id: 517ce622-efbe-409c-883b-ea4d1521a3e4
      iscommand: true
      name: Get account info from OKTA v2
      script: '|||okta-get-user'
      type: regular
      version: -1
    taskid: 517ce622-efbe-409c-883b-ea4d1521a3e4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1290,
          "y": 430
        }
      }
  "42":
    continueonerrortype: ""
    id: "42"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ced5695a-76e7-4f6a-81b8-598925a8ea9d
      iscommand: false
      name: AWS
      type: title
      version: -1
    taskid: ced5695a-76e7-4f6a-81b8-598925a8ea9d
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1710,
          "y": 105
        }
      }
  "43":
    continueonerrortype: ""
    id: "43"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "44"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: AWS - IAM
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if the integration brand is available. Otherwise
        returns 'no'
      id: 0f630de1-9988-461a-883a-6113d3dd6d2a
      iscommand: false
      name: Is AWS integration enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 0f630de1-9988-461a-883a-6113d3dd6d2a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1710,
          "y": 235
        }
      }
  "44":
    continueonerrortype: ""
    id: "44"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      userName:
        complex:
          root: inputs.Username
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Retrieves information about the specified IAM user, including the
        user's creation date, path, unique ID, and ARN.
      id: 263e355a-c219-4c49-833f-5b67b66bdc17
      iscommand: true
      name: Get account info from AWS
      script: '|||aws-iam-get-user'
      type: regular
      version: -1
    taskid: 263e355a-c219-4c49-833f-5b67b66bdc17
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1710,
          "y": 430
        }
      }
  "48":
    continueonerrortype: ""
    id: "48"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "49"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4f4d3e42-0ec6-4b22-89b2-0b275eedc3c5
      iscommand: false
      name: IAM
      type: title
      version: -1
    taskid: 4f4d3e42-0ec6-4b22-89b2-0b275eedc3c5
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -820,
          "y": 105
        }
      }
  "49":
    continueonerrortype: ""
    id: "49"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      user-profile:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: inputs.Domain
              operator: isNotEmpty
          root: inputs.Domain
          transformers:
          - args:
              applyIfEmpty: {}
              defaultValue: {}
            operator: SetIfEmpty
          - args:
              prefix:
                iscontext: true
                value:
                  simple: inputs.Username
              suffix:
                iscontext: true
            operator: concat
          - operator: uniq
          - args:
              prefix:
                value:
                  simple: '{"username":"'
              suffix:
                value:
                  simple: '"}'
            operator: concat
          - args:
              delimiter: {}
            operator: split
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Retrieves a single user resource.
      id: 3c1d8385-eab5-4d60-8627-65d625adff4c
      iscommand: true
      name: IAM Get User
      script: '|||iam-get-user'
      type: regular
      version: -1
    taskid: 3c1d8385-eab5-4d60-8627-65d625adff4c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -820,
          "y": 235
        }
      }
  "50":
    continueonerrortype: ""
    id: "50"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "51"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 61ad53d6-a0fd-4e1e-8608-1c8a9596d965
      iscommand: false
      name: SailPoint IdentityNow
      type: title
      version: -1
    taskid: 61ad53d6-a0fd-4e1e-8608-1c8a9596d965
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 20,
          "y": 105
        }
      }
  "51":
    continueonerrortype: ""
    id: "51"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "52"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: SailPointIdentityNow
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if the integration brand is available. Otherwise
        returns 'no'
      id: 21d70bb7-8b40-4f49-80ca-b78cb05b24aa
      iscommand: false
      name: Is SailPoint IdentityNow integration enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 21d70bb7-8b40-4f49-80ca-b78cb05b24aa
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 20,
          "y": 235
        }
      }
  "52":
    continueonerrortype: ""
    id: "52"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      name:
        complex:
          root: inputs.Username
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Get accounts by search/filter parameters (ID, name, native_identity).
      id: 918ad3f9-eb0a-42c0-8c0f-f13cb77b8fe6
      iscommand: true
      name: Get account info from IdentityNow
      script: '|||identitynow-get-accounts'
      type: regular
      version: -1
    taskid: 918ad3f9-eb0a-42c0-8c0f-f13cb77b8fe6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 20,
          "y": 430
        }
      }
  "53":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Account.Manager
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "53"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "54"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is there a manager?
      id: f1700d16-6e63-4a56-8157-42cecfc24657
      iscommand: false
      name: Is there a manager?
      type: condition
      version: -1
    taskid: f1700d16-6e63-4a56-8157-42cecfc24657
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 600
        }
      }
  "54":
    continueonerrortype: ""
    id: "54"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      UserEmail:
        complex:
          accessor: Address
          root: Account.Email
          transformers:
          - operator: uniq
          - operator: FirstArrayElement
      Username:
        complex:
          accessor: Username
          root: Account
          transformers:
          - operator: uniq
          - operator: FirstArrayElement
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Takes an email address or a username of a user account in Active
        Directory, and returns the email address of the user's manager.
      id: 04fff51c-4e58-4c1e-8625-1247f537d5b4
      iscommand: false
      name: Active Directory - Get User Manager Details
      playbookId: Active Directory - Get User Manager Details
      type: playbook
      version: -1
    taskid: 04fff51c-4e58-4c1e-8625-1247f537d5b4
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 190,
          "y": 770
        }
      }
  "55":
    continueonerrortype: ""
    id: "55"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "56"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 285753ae-d884-4485-881c-3a99f77be4d0
      iscommand: false
      name: MSGraph Users
      type: title
      version: -1
    taskid: 285753ae-d884-4485-881c-3a99f77be4d0
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2130,
          "y": 105
        }
      }
  "56":
    continueonerrortype: ""
    id: "56"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "57"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: Microsoft Graph User
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if the integration brand is available. Otherwise
        returns 'no'.
      id: be533930-e327-4945-8fb7-c47ada329a2f
      iscommand: false
      name: Is Azure Active Directory Users integration enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: be533930-e327-4945-8fb7-c47ada329a2f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2130,
          "y": 235
        }
      }
  "57":
    continueonerrortype: ""
    id: "57"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "58"
    note: false
    quietmode: 2
    scriptarguments:
      user:
        complex:
          root: inputs.Username
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: |-
        Retrieves the properties and relationships of a user object. For more information, visit: https://docs.microsoft.com/en-us/graph/api/user-update?view=graph-rest-1.0).
        Permissions: - User.Read (Delegated) - User.Read.All (Application)
      id: 28d31f65-2e71-4de8-82b3-82da75841c4b
      iscommand: true
      name: Get account info from Azure Active Directory
      script: '|||msgraph-user-get'
      type: regular
      version: -1
    taskid: 28d31f65-2e71-4de8-82b3-82da75841c4b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2130,
          "y": 430
        }
      }
  "58":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Account.Manager
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "58"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "59"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is there a manager?
      id: 0cc7d1db-2b59-42c7-846a-9859a3d851c9
      iscommand: false
      name: Is there a manager?
      type: condition
      version: -1
    taskid: 0cc7d1db-2b59-42c7-846a-9859a3d851c9
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2130,
          "y": 600
        }
      }
  "59":
    continueonerrortype: ""
    id: "59"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "60"
    note: false
    quietmode: 0
    scriptarguments:
      user:
        complex:
          accessor: ID
          root: MSGraphUser
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Retrieves the properties from the manager of a user.
      id: e5aab025-d489-4bc6-89d8-ffde4c23ac36
      iscommand: true
      name: Azure Active Directory - Get manager details
      script: '|||msgraph-user-get-manager'
      type: regular
      version: -1
    taskid: e5aab025-d489-4bc6-89d8-ffde4c23ac36
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2130,
          "y": 890
        }
      }
  "60":
    continueonerrortype: ""
    id: "60"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: UserManagerEmail
      value:
        complex:
          accessor: Mail
          root: MSGraphUserManager.Manager
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 83d6879d-694b-4091-84cd-6445167b9c75
      iscommand: false
      name: Set manager email address to context
      script: Set
      type: regular
      version: -1
    taskid: 83d6879d-694b-4091-84cd-6445167b9c75
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2130,
          "y": 1060
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "18_3_#default#": 0.1,
      "1_3_#default#": 0.14,
      "20_3_#default#": 0.1,
      "33_3_#default#": 0.1,
      "43_3_#default#": 0.1,
      "4_3_#default#": 0.1,
      "51_3_#default#": 0.1,
      "56_3_#default#": 0.1,
      "58_3_#default#": 0.1
    },
    "paper": {
      "dimensions": {
        "height": 1495,
        "width": 3590,
        "x": -1080,
        "y": -200
      }
    }
  }
