playbook-Endpoint_Enrichment_-_Generic_v2.1.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.8.0
    itemVersion: 2.3.57
    packID: CommonPlaybooks
    packName: Common Playbooks
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
description: |-
  Enrich an endpoint by hostname using one or more integrations.
  Supported integrations:
  - Active Directory Query v2
  - McAfee ePO v2
  - VMware Carbon Black EDR v2
  - Cylance Protect v2
  - CrowdStrike Falcon
  - ExtraHop Reveal(x)

  - Endpoint reputation using !endpoint command
id: Endpoint Enrichment - Generic v2.1
inputs:
- description: The hostname of the endpoint to enrich.
  key: Hostname
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: Hostname
      root: Endpoint
      transformers:
      - operator: uniq
- description: |-
    Define if you would like to use the !endpoint command.
    Note: This input should be used whenever there is no auto-extract enabled in the investigation flow.
    Possible values: True / False.
  key: UseReputationCommand
  playbookInputQuery: null
  required: true
  value:
    simple: "False"
- description: The IP address of the endpoint to enrich.
  key: IPAddress
  playbookInputQuery: null
  required: false
  value: {}
- description: The endpoint ID of the endpoint to enrich.
  key: EndpointID
  playbookInputQuery: null
  required: false
  value: {}
name: Endpoint Enrichment - Generic v2.1
outputs:
- contextPath: Endpoint
  description: The endpoint object of the endpoint that was enriched.
  type: unknown
- contextPath: Endpoint.Hostname
  description: The hostnames of the endpoints that were enriched.
  type: string
- contextPath: Endpoint.OS
  description: The operating systems running on the endpoints that were enriched.
  type: string
- contextPath: Endpoint.IP
  description: A list of the IP addresses of the endpoints.
- contextPath: Endpoint.MAC
  description: A list of the MAC addresses of the endpoints that were enriched.
- contextPath: Endpoint.Domain
  description: The domain names of the endpoints that were enriched.
  type: string
- contextPath: CylanceProtectDevice
  description: The device information about the hostname that was enriched using Cylance
    Protect v2.
  type: unknown
- contextPath: ExtraHop.Device.Macaddr
  description: The MAC Address of the device.
  type: String
- contextPath: ExtraHop.Device.DeviceClass
  description: The class of the device.
  type: String
- contextPath: ExtraHop.Device.UserModTime
  description: The time of the most recent update, expressed in milliseconds since
    the epoch.
  type: Number
- contextPath: ExtraHop.Device.AutoRole
  description: The role automatically detected by the ExtraHop.
  type: String
- contextPath: ExtraHop.Device.ParentId
  description: The ID of the parent device.
  type: Number
- contextPath: ExtraHop.Device.Vendor
  description: The device vendor.
  type: String
- contextPath: ExtraHop.Device.Analysis
  description: The level of analysis preformed on the device.
  type: string
- contextPath: ExtraHop.Device.DiscoveryId
  description: The UUID given by the Discover appliance.
  type: String
- contextPath: ExtraHop.Device.DefaultName
  description: The default name of the device.
  type: String
- contextPath: ExtraHop.Device.DisplayName
  description: The display name of device.
  type: String
- contextPath: ExtraHop.Device.OnWatchlist
  description: Whether the device is on the advanced analysis allow list.
  type: Boolean
- contextPath: ExtraHop.Device.ModTime
  description: The time of the most recent update, expressed in milliseconds since
    the epoch.
  type: Number
- contextPath: ExtraHop.Device.IsL3
  description: Indicates whether the device is a Layer 3 device.
  type: Boolean
- contextPath: ExtraHop.Device.Role
  description: The role of the device.
  type: String
- contextPath: ExtraHop.Device.DiscoverTime
  description: The time that the device was discovered.
  type: Number
- contextPath: ExtraHop.Device.Id
  description: The ID of the device.
  type: Number
- contextPath: ExtraHop.Device.Ipaddr4
  description: The IPv4 address of the device.
  type: String
- contextPath: ExtraHop.Device.Vlanid
  description: The ID of VLan.
  type: Number
- contextPath: ExtraHop.Device.Ipaddr6
  description: The IPv6 address of the device.
  type: string
- contextPath: ExtraHop.Device.NodeId
  description: The Node ID of the Discover appliance.
  type: number
- contextPath: ExtraHop.Device.Description
  description: A user customizable description of the device.
  type: string
- contextPath: ExtraHop.Device.DnsName
  description: The DNS name associated with the device.
  type: string
- contextPath: ExtraHop.Device.DhcpName
  description: The DHCP name associated with the device.
  type: string
- contextPath: ExtraHop.Device.CdpName
  description: The Cisco Discovery Protocol name associated with the device.
  type: string
- contextPath: ExtraHop.Device.NetbiosName
  description: The NetBIOS name associated with the device.
  type: string
- contextPath: ExtraHop.Device.Url
  description: Link to the device details page in ExtraHop.
  type: string
- contextPath: Endpoint.IPAddress
  description: The endpoint IP address.
- contextPath: Endpoint.ID
  description: The endpoint ID.
- contextPath: Endpoint.Status
  description: The endpoint status.
- contextPath: Endpoint.IsIsolated
  description: The endpoint isolation status.
- contextPath: Endpoint.MACAddress
  description: The endpoint MAC address.
- contextPath: Endpoint.Vendor
  description: The integration name of the endpoint vendor.
- contextPath: Endpoint.Relationships
  description: The endpoint relationships of the endpoint that was enriched.
  type: unknown
- contextPath: Endpoint.Processor
  description: The model of the processor.
- contextPath: Endpoint.Processors
  description: The number of processors.
- contextPath: Endpoint.Memory
  description: Memory on this endpoint.
- contextPath: Endpoint.Model
  description: The model of the machine or device.
- contextPath: Endpoint.BIOSVersion
  description: The endpoint's BIOS version.
- contextPath: Endpoint.OSVersion
  description: The endpoint's operation system version.
- contextPath: Endpoint.DHCPServer
  description: The DHCP server of the endpoint.
- contextPath: McAfee.ePO.Endpoint
  description: The endpoint that was enriched.
  type: unknown
- contextPath: Endpoint.Groups
  description: Groups for which the computer is listed as a member.
- contextPath: ActiveDirectory.ComputersPageCookie
  description: An opaque string received in a paged search, used for requesting subsequent
    entries.
- contextPath: ActiveDirectory.Computers.dn
  description: The computer distinguished name.
- contextPath: ActiveDirectory.Computers.memberOf
  description: Groups for which the computer is listed.
- contextPath: ActiveDirectory.Computers.name
  description: The computer name.
- contextPath: CrowdStrike.Device
  description: The information about  the endpoint.
  type: unknown
- contextPath: ActiveDirectory.Computers
  description: The information about the hostname that was enriched using Active Directory.
  type: unknown
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 29bcd70f-1953-4061-84ce-4cde781ad9f7
      iscommand: false
      name: ""
      version: -1
    taskid: 29bcd70f-1953-4061-84ce-4cde781ad9f7
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 50,
          "y": 80
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
      - "18"
      - "19"
      - "20"
      - "30"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 54895e0d-9904-4e62-8f45-ebd0d17ad5c9
      iscommand: false
      name: Endpoint Products
      type: title
      version: -1
    taskid: 54895e0d-9904-4e62-8f45-ebd0d17ad5c9
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1480,
          "y": 410
        }
      }
  "3":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.Hostname
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "24"
      - "1"
      - "35"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${inputs.Hostname}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether there is at least one endpoint to enrich (by hostname).
      id: efeca58b-3c8f-40aa-8c2e-f9e84257b1bb
      iscommand: false
      name: Is there an endpoint to enrich?
      type: condition
      version: -1
    taskid: efeca58b-3c8f-40aa-8c2e-f9e84257b1bb
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 50,
          "y": 215
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ea90c16b-6985-4f28-816f-78608df3fe51
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: ea90c16b-6985-4f28-816f-78608df3fe51
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1470
        }
      }
  "8":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: state
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: containsGeneral
                    right:
                      value:
                        simple: VMware Carbon Black EDR v2
                root: modules
          operator: isEqualString
          right:
            value:
              simple: active
      label: "yes"
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "9"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there is an active instance of the Carbon Black Enterprise
        Response integration enabled.
      id: 9fa921fa-d196-40ba-8419-ed0c4f838ab8
      iscommand: false
      name: Is Carbon Black Enterprise Response enabled?
      type: condition
      version: -1
    taskid: 9fa921fa-d196-40ba-8419-ed0c4f838ab8
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 950,
          "y": 710
        }
      }
  "9":
    continueonerror: true
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      hostname:
        complex:
          root: inputs.Hostname
          transformers:
          - operator: uniq
      id:
        complex:
          root: inputs.EndpointID
      ip:
        complex:
          root: inputs.IPAddress
    separatecontext: false
    skipunavailable: true
    task:
      brand: VMware Carbon Black EDR v2
      description: List the CarbonBlack sensors
      id: 79f17c3a-2456-47d9-8e68-cc3d84ef01bd
      iscommand: true
      name: Get host information from Carbon Black Enterprise Response
      script: VMware Carbon Black EDR v2|||endpoint
      type: regular
      version: -1
    taskid: 79f17c3a-2456-47d9-8e68-cc3d84ef01bd
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1110,
          "y": 890
        }
      }
  "10":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: state
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: CrowdstrikeFalcon
                root: modules
          operator: isEqualString
          right:
            value:
              simple: active
      label: "yes"
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "38"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there is an active instance of the CrowdStrike Falcon
        Host integration enabled.
      id: 216aed2b-2f34-4c5e-8c54-60b978218896
      iscommand: false
      name: Is CrowdStrike Falcon enabled?
      script: Exists
      type: condition
      version: -1
    taskid: 216aed2b-2f34-4c5e-8c54-60b978218896
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2460,
          "y": 720
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d9d617d9-2efd-466e-8ce7-190f8db83b95
      iscommand: false
      name: McAfee ePolicy Orchestrator
      type: title
      version: -1
    taskid: d9d617d9-2efd-466e-8ce7-190f8db83b95
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 430,
          "y": 575
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6cf08862-644d-479e-89ce-f9e173a8c562
      iscommand: false
      name: Carbon Black Enterprise Response
      type: title
      version: -1
    taskid: 6cf08862-644d-479e-89ce-f9e173a8c562
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 950,
          "y": 575
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 471d3862-a05c-42b1-871d-c1faa2fbb7a9
      iscommand: false
      name: Cylance Protect v2
      type: title
      version: -1
    taskid: 471d3862-a05c-42b1-871d-c1faa2fbb7a9
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1480,
          "y": 575
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5d371f29-3a4c-43c5-8f71-b383db2e5320
      iscommand: false
      name: CrowdStrike Falcon
      type: title
      version: -1
    taskid: 5d371f29-3a4c-43c5-8f71-b383db2e5320
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2460,
          "y": 575
        }
      }
  "22":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Active Directory Query v2
                - - left:
                      iscontext: true
                      value:
                        simple: state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "23"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there is an active instance of the Active Directory Query
        v2 integration enabled.
      id: f7f190b9-5a39-4d8a-83a5-77d5a023f0d4
      iscommand: false
      name: Is Active Directory Query v2 enabled?
      type: condition
      version: -1
    taskid: f7f190b9-5a39-4d8a-83a5-77d5a023f0d4
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -240,
          "y": 710
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      name:
        complex:
          root: inputs.Hostname
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Retrieves detailed information about a computer account. The computer
        can be specified by name, email address, or as an Active Directory Distinguished
        Name (DN). If no filters are provided, all computers are returned.
      id: 23c75906-3b4e-42e8-8e32-c883d5f06fb3
      iscommand: true
      name: Get host information from Active Directory
      script: '|||ad-get-computer'
      type: regular
      version: -1
    taskid: 23c75906-3b4e-42e8-8e32-c883d5f06fb3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -430,
          "y": 890
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9706cc39-d338-44cd-8ee1-efc5ea95b04d
      iscommand: false
      name: Active Directory
      type: title
      version: -1
    taskid: 9706cc39-d338-44cd-8ee1-efc5ea95b04d
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -240,
          "y": 580
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      Hostname:
        complex:
          root: inputs.Hostname
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: Enriches endpoints using the Cylance Protect v2 integration.
      id: d973a016-35b6-4e7c-88a5-9f4c60190224
      iscommand: false
      name: Endpoint Enrichment - Cylance Protect v2
      playbookName: Endpoint Enrichment - Cylance Protect v2
      type: playbook
      version: -1
    taskid: d973a016-35b6-4e7c-88a5-9f4c60190224
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1480,
          "y": 710
        }
      }
  "30":
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "31"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ec344482-77f7-42b5-8ee4-34317afd1179
      iscommand: false
      name: ExtraHop Reveal(x)
      type: title
      version: -1
    taskid: ec344482-77f7-42b5-8ee4-34317afd1179
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1940,
          "y": 575
        }
      }
  "31":
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "32"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: brand
              operator: isEqualString
              right:
                value:
                  simple: ExtraHop v2
          - - left:
                iscontext: true
                value:
                  simple: state
              operator: isEqualString
              right:
                value:
                  simple: active
          root: modules
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there is an active instance of the ExtraHop Reveal(x)
        integration enabled.
      id: 58c8b4be-657c-45f6-8eca-5a01da85f1f3
      iscommand: false
      name: Is ExtraHop Reveal(x) enabled?
      script: Exists
      type: condition
      version: -1
    taskid: 58c8b4be-657c-45f6-8eca-5a01da85f1f3
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1940,
          "y": 710
        }
      }
  "32":
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      ip:
        complex:
          root: inputs.IPAddress
      name:
        complex:
          root: inputs.Hostname
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Get host information from ExtraHop Reveal(x).
      id: 344e1330-e5f8-4292-83df-7a4fba147ebf
      iscommand: true
      name: Get host information from ExtraHop Reveal(x)
      script: '|||extrahop-device-search'
      type: regular
      version: -1
    taskid: 344e1330-e5f8-4292-83df-7a4fba147ebf
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2100,
          "y": 890
        }
      }
  "33":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: brand
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isExists
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isEqualString
          right:
            value:
              simple: McAfee ePO v2
      label: "yes"
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "34"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "Gets a value and returns it. This is to be used in playbook conditional
        tasks - get a value from incident field, label or context, and act accordingly.
        \nIf an array is returned. the first value will be the decision making value."
      id: cb25c554-4bce-4f19-8bf1-974a6a51c57d
      iscommand: false
      name: is Mcafee ePolicy Orchestrator v2 enabled
      type: condition
      version: -1
    taskid: cb25c554-4bce-4f19-8bf1-974a6a51c57d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 430,
          "y": 710
        }
      }
  "34":
    continueonerrortype: ""
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      searchText:
        complex:
          root: inputs.Hostname
      verbose:
        simple: "false"
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Finds systems in the McAfee ePO system tree.
      id: 968db0d2-282a-4a9b-8071-39de4a0b5b09
      iscommand: true
      name: Get- host information from McAfee ePO v2
      script: '|||epo-find-system'
      type: regular
      version: -1
    taskid: 968db0d2-282a-4a9b-8071-39de4a0b5b09
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 580,
          "y": 890
        }
      }
  "35":
    continueonerrortype: ""
    id: "35"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f2dbaff5-7c92-47ad-80cc-991bfd80ff98
      iscommand: false
      name: Endpoint Reputation
      type: title
      version: -1
    taskid: f2dbaff5-7c92-47ad-80cc-991bfd80ff98
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -790,
          "y": 580
        }
      }
  "36":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.UseReputationCommand
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "37"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if should run endpoint reputation command
      id: 50fed99c-1eb9-4a6f-85d0-f9d5ee74bc5a
      iscommand: false
      name: Should use !endpoint command?
      type: condition
      version: -1
    taskid: 50fed99c-1eb9-4a6f-85d0-f9d5ee74bc5a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -790,
          "y": 720
        }
      }
  "37":
    continueonerrortype: ""
    id: "37"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      hostname:
        complex:
          root: inputs.Hostname
      id:
        complex:
          root: inputs.EndpointID
      ip:
        complex:
          root: inputs.IPAddress
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Returns information about an endpoint.
      id: 79880978-7c28-4aaf-83b3-7f8ea42da67f
      iscommand: true
      name: Check Reputation
      script: '|||endpoint'
      type: regular
      version: -1
    taskid: 79880978-7c28-4aaf-83b3-7f8ea42da67f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1000,
          "y": 890
        }
      }
  "38":
    continueonerrortype: ""
    id: "38"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 2
    scriptarguments:
      hostname:
        complex:
          root: inputs.Hostname
      ids:
        complex:
          root: inputs.EndpointID
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Searches for a device that matches the query.
      id: 84483658-9591-43b1-8cc6-89df338d6bd8
      iscommand: true
      name: Crowdstrike Search device
      script: '|||cs-falcon-search-device'
      type: regular
      version: -1
    taskid: 84483658-9591-43b1-8cc6-89df338d6bd8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2630,
          "y": 890
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "10_4_#default#": 0.12,
      "22_23_yes": 0.43,
      "22_4_#default#": 0.2,
      "31_32_yes": 0.64,
      "31_4_#default#": 0.12,
      "33_34_yes": 0.64,
      "33_4_#default#": 0.2,
      "36_37_yes": 0.49,
      "36_4_#default#": 0.13,
      "3_1_yes": 0.3,
      "3_24_yes": 0.41,
      "3_4_#default#": 0.12,
      "8_4_#default#": 0.13,
      "8_9_yes": 0.62
    },
    "paper": {
      "dimensions": {
        "height": 1455,
        "width": 4010,
        "x": -1000,
        "y": 80
      }
    }
  }
