playbook-Phishing_-_Generic_v3.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.5.0
    itemVersion: 3.5.11
    packID: Phishing
    packName: Phishing
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: "This playbook investigates and remediates a potential phishing incident.
  It engages with the user who triggered the incident while investigating the incident
  itself.\n\nNote: \n- Final remediation tasks are manual by default. can be managed
  by \"SearchAndDelete\" and \"BlockIndicators\" inputs.\n- Do not rerun this playbook
  inside a phishing incident since it can produce an unexpected result. Create a new
  incident instead if needed."
id: Phishing - Generic v3
inputs:
- description: The default role to assign the incident to.
  key: Role
  playbookInputQuery: null
  required: true
  value:
    simple: Administrator
- description: |-
    Enables the Search and Delete capability.
    For a malicious email, the "Search and Delete" sub-playbook looks for other instances of the email and deletes them pending analyst approval.
  key: SearchAndDelete
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: |-
    This input manages the automated block indicators capability.
    Set to "True" for automatically block all malicious indicators.
    Set to "False" to manually choose which indicators to block, if any.
  key: BlockIndicators
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: Determines whether the authenticity of the email should be verified
    using SPF, DKIM, and DMARC.
  key: AuthenticateEmail
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Set to True to assign only the user that is currently on shift.
  key: OnCall
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: |-
    Determines which product and playbook is used to search and delete the phishing email from user inboxes.
      - Set this to "O365" to use the "O365 - Security And Compliance - Search And Delete" playbook.
      - Set this to "EWS" to use the "Search And Delete Emails - EWS" playbook.
      - Set this to "Gmail" to use the "Search And Delete - Gmail" playbook.
  key: SearchAndDeleteIntegration
  playbookInputQuery: null
  required: false
  value:
    simple: EWS
- description: |-
    Sets the method to delete emails in the "O365 - Security And Compliance - Search And Delete" playbook. Can be "Soft" (recoverable), or "Hard" (unrecoverable). Leave empty to decide manually for each email incident.
    This is only applicable if the SearchAndDeleteIntegration input is set to "O365".
  key: O365DeleteType
  playbookInputQuery: null
  required: false
  value:
    simple: Soft
- description: The exchange location. Determines from where to search and delete emails
    using O365 playbooks. Use the value "All" to search all mailboxes. If no input
    provided, it will search and delete the email only from the recipient's mailboxes.
    Note - Searching all mailboxes may take a significant amount of time. This input
    is used only when searching and deleting emails in O365 and only applies if the
    SearchAndDeleteIntegration input is set to O365.
  key: O365ExchangeLocation
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: emailto
      root: incident
- description: Used only when searching and deleting emails in O365. Determines whether
    to include mailboxes other than regular user mailboxes in the compliance search.
  key: O365AllowNotFoundSearchLocations
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: Used only when searching and deleting emails in O365. A comma-separated
    list of mailboxes/distribution groups to exclude when you use the value "All"
    for the O365ExchangeLocation input.
  key: O365ExchangeLocationExclusion
  playbookInputQuery: null
  required: false
  value: {}
- description: Whether to check Microsoft headers for BCL/PCL/SCL scores and set the
    "Severity" and "Email Classification" accordingly.
  key: CheckMicrosoftHeaders
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: A CSV list of internal domains. The list is used to determine whether
    an email address is internal or external.
  key: InternalDomains
  playbookInputQuery: null
  required: false
  value: {}
- description: Determines whether to use the "URL Detonation" playbook. Detonating
    a URL may take a few minutes.
  key: DetonateURL
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: |-
    This input is used in the "Entity Enrichment - Phishing v2" playbook.
    A list of internal IP ranges to check IP addresses against. The list should be provided in CIDR notation, separated by commas. An example of a list of ranges is: "172.16.0.0/12,10.0.0.0/8,192.168.0.0/16" (without quotes). If a list is not provided, uses the default list provided in the IsIPInRanges script (the known IPv4 private address ranges).
  key: InternalRange
  playbookInputQuery: null
  required: false
  value: {}
- description: Optional - the name of a pre-trained phishing model to predict phishing
    type using machine learning.
  key: PhishingModelName
  playbookInputQuery: null
  required: false
  value:
    simple: phishing_model
- description: |-
    For forwarded emails. When "True", retrieves the original email in the thread.

    You must have the necessary permissions in your email service to execute global search.

    - For EWS: eDiscovery
    - For Gmail: Google Apps Domain-Wide Delegation of Authority
    - For MSGraph: As described in these links
    https://docs.microsoft.com/en-us/graph/api/message-get
    https://docs.microsoft.com/en-us/graph/api/user-list-messages
  key: GetOriginalEmail
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    The number of URLs to extract from the email HTML and analyze in the "DBotPredictURLPhishing" automation.
    This automation runs several checks to determine the score of the URLs found in the email, sets a verdict for URLs found as "Suspicious" or "Malicious", and adds these URLs as indicators. Based on the verdict, the incident severity is set (Medium for "Suspicious" and High for "Malicious").
    Note:
    - You need to install the "Phishing URL" pack to use this automation.
    - False/True positives are possible.
    - This automation may take a few minutes to run.
    - To increase result accuracy, it is recommended to install and enable the "Whois" pack (optional).
  key: DBotPredictURLPhishingURLsNumber
  playbookInputQuery: null
  required: false
  value:
    simple: "3"
- description: |-
    Reported emails and emails retrieved during playbook execution can contain multiple nested email files. For example, an EML nested inside another EML file.
    If multiple level files are detected, this field determines which file represents the phishing email.

    For example:
    User1 receives an email from Attacker. User1 attaches the email as an EML file and sends the email to User2.
    User2 also attaches that email as a file, and reports it as phishing. In this case, the phishing email would be the "inner file" (as opposed to "outer file").

    Possible values are: Inner file, Outer file, All files.
    Inner file: The file at the deepest level is parsed. If there is only one file, that file is parsed.
    Outer file: The file at the first level is parsed.
    All files: All files are parsed. Do not use this option in the phishing playbook, as there should only be one phishing email per playbook run.
  key: EmailFileToExtract
  playbookInputQuery: null
  required: false
  value:
    simple: Inner file
- description: Whether to enter the "Email Indicators Hunting" branch in the playbook.
    Under this branch, sub-playbooks would be triggered in order to hunt malicious
    indicators found in other emails and optionally, automatically create new incidents
    for each found email (configurable through next playbook inputs). Default is "True".
  key: HuntEmailIndicators
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: When "True", the "Phishing - Handle Microsoft 365 Defender Results"
    sub-playbook will open new phishing incidents for each email that contains one
    of the malicious indicators. Default is "False".
  key: EmailHuntingCreateNewIncidents
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: |-
    The mailbox which is being used to fetch phishing incidents. This mailbox would be excluded in the "Phishing - Indicators Hunting" playbook.
    In case the value of this input is empty, the value of the "Email To" incident field will be automatically used as the listener mailbox.
  key: ListenerMailbox
  playbookInputQuery: null
  required: false
  value: {}
- description: The name of the instance to be used when executing the "send-mail"
    command in the playbook. In case it will be empty, all available instances will
    be used (default).
  key: SendMailInstance
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    This input will be used as the "original_authentication_header" argument in the "CheckEmailAuthenticity" script under the "Authenticate email" task.
    The header that holds the original Authentication-Results header value. This can be used when an intermediate server changes the original email and holds the original header value in a different header. Note - Use this only if you trust the server creating this header.
  key: OriginalAuthenticationHeader
  playbookInputQuery: null
  required: false
  value: {}
name: Phishing - Generic v3
outputs: []
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "39"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1de7eceb-5dd5-43db-8427-7784a33e391c
      iscommand: false
      name: ""
      version: -1
    taskid: 1de7eceb-5dd5-43db-8427-7784a33e391c
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": -497.5,
          "y": -510
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      assignBy:
        simple: less-busy-user
      onCall:
        complex:
          root: inputs.OnCall
          transformers:
          - operator: toLowerCase
      roles:
        complex:
          root: inputs.Role
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Assigns the incident to an analyst based on the analyst's organizational
        role.
      id: c2c89771-779e-4684-8d06-36481ab03848
      iscommand: false
      name: Assign to analyst
      script: AssignAnalystToIncident
      type: regular
      version: -1
    taskid: c2c89771-779e-4684-8d06-36481ab03848
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -260,
          "y": 2710
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Reviews the incident to determine if the email that the user reported
        is malicious.
      id: 412689a4-cf02-44b5-8e1e-d4ea0276b484
      iscommand: false
      name: Manually review the incident
      type: regular
      version: -1
    taskid: 412689a4-cf02-44b5-8e1e-d4ea0276b484
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -920,
          "y": 3215
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "29"
    note: false
    quietmode: 0
    reputationcalc: 1
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Closes the investigation.
      id: 9a70b41d-9fe0-4952-82db-caf5d5a1e4ba
      iscommand: true
      name: Close investigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 9a70b41d-9fe0-4952-82db-caf5d5a1e4ba
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -247.5,
          "y": 4920
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c9650f2b-6ef8-4496-8007-c1c7d247a382
      iscommand: false
      name: Triage
      type: title
      version: -1
    taskid: c9650f2b-6ef8-4496-8007-c1c7d247a382
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -497.5,
          "y": 300
        }
      }
  "13":
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "56"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      body:
        simple: "Hi ${.=function(val) { if(!(val.Account.length > 1)) return val.incident.reporteremailaddress;
          var reporter = val.incident.reporteremailaddress; var account = val.Account
          && val.Account.filter(function(acc) { return acc.DisplayName && (acc.Email
          \ === reporter || Array.isArray(acc.Email) && acc.Email.indexOf(reporter)
          > -1) }); return account && account[0] && account[0].DisplayName[0] || reporter
          || ''; }(val)},\nWe've received your email and are investigating.\n Do not
          touch the email until further notice.\n\nCordially, \n  Your friendly neighborhood
          security team"
      subject:
        simple: 'Re: Phishing Investigation - ${incident.name}'
      to:
        complex:
          accessor: reporteremailaddress
          root: incident
      using:
        simple: ${inputs.SendMailInstance}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |
        Sends an auto-response to the user reporting the incident that the incident was received and is being handled.
      id: ad3de6f3-b823-4cb4-8246-ded32b1417e0
      iscommand: true
      name: Acknowledge incident was received
      script: '|||send-mail'
      type: regular
      version: -1
    taskid: ad3de6f3-b823-4cb4-8246-ded32b1417e0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 770,
          "y": 630
        }
      }
  "15":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: incident.severity
          operator: greaterThanOrEqual
          right:
            value:
              simple: "3"
      label: Malicious
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "31"
      Malicious:
      - "30"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines if the email is malicious based on the calculated severity.
      id: 41bf9e09-118d-48c9-819a-ac9fa66faee0
      iscommand: false
      name: Is the email malicious?
      type: condition
      version: -1
    taskid: 41bf9e09-118d-48c9-819a-ac9fa66faee0
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -260,
          "y": 2895
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      body:
        simple: |-
          Hi ${.=function(val) { if(!(val.Account.length > 1)) return val.incident.reporteremailaddress; var reporter = val.incident.reporteremailaddress; var account = val.Account && val.Account.filter(function(acc) { return acc.DisplayName && (acc.Email  === reporter || Array.isArray(acc.Email) && acc.Email.indexOf(reporter) > -1) }); return account && account[0] && account[0].DisplayName[0] || reporter || ''; }(val)},
          We've concluded that the email you forwarded to us is safe. In case you think the verdict is not accurate and the email is suspicious, please contact our SOC team.
          Thank you for your alertness and your participation in keeping our organization secure.

          Cordially,
            Your security team
      subject:
        simple: 'Re: Phishing Investigation - ${incident.name}'
      to:
        complex:
          accessor: reporteremailaddress
          root: incident
      using:
        simple: ${inputs.SendMailInstance}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends an email to the user explaining that the email they reported
        is safe.
      id: 30d7c68e-a84b-4fd7-828b-5318f43689fd
      iscommand: true
      name: Update the user that the reported email is safe
      script: '|||send-mail'
      type: regular
      version: -1
    taskid: 30d7c68e-a84b-4fd7-828b-5318f43689fd
    timertriggers:
    - action: stop
      fieldname: detectionsla
    type: regular
    view: |-
      {
        "position": {
          "x": -920,
          "y": 3745
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "53"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d7a28b1b-9555-4730-8b67-0d256043e5a5
      iscommand: false
      name: Engage with User
      type: title
      version: -1
    taskid: d7a28b1b-9555-4730-8b67-0d256043e5a5
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 770,
          "y": 300
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "52"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 61a095b2-22f4-4f7d-89fc-39bbeb814c1a
      iscommand: false
      name: Detonate File - Generic
      playbookId: Detonate File - Generic
      type: playbook
      version: -1
    taskid: 61a095b2-22f4-4f7d-89fc-39bbeb814c1a
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 200,
          "y": 600
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "55"
      - "22"
      - "88"
      - "137"
    note: false
    quietmode: 0
    scriptarguments:
      Email:
        complex:
          accessor: emailto
          root: incident
      EmailCC:
        complex:
          accessor: emailcc
          root: incident
      EmailFileToExtract:
        complex:
          root: inputs.EmailFileToExtract
      EmailFormat:
        complex:
          accessor: emailformat
          root: incident
      EmailFrom:
        complex:
          accessor: emailfrom
          root: incident
      EmailHeaders:
        complex:
          accessor: phishingreporteremailheaders
          root: incident
      EmailHtml:
        complex:
          accessor: emailhtml
          root: incident
      EmailSubject:
        complex:
          accessor: emailsubject
          root: incident
      EmailText:
        complex:
          accessor: emailbody
          root: incident
      File:
        complex:
          root: File
      GetOriginalEmail:
        complex:
          root: inputs.GetOriginalEmail
      MessageID:
        complex:
          accessor: emailmessageid
          root: incident
      Thread-Topic:
        complex:
          accessor: emailsubject
          root: incident
      UserID:
        complex:
          accessor: reporteremailaddress
          root: incident
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |
        This playbook adds email details to the relevant context entities and handles original email attachments.

        The v2 playbook enables parsing email artifacts more efficiently, including:
        - Using incident fields and not incident labels.
        - Providing separate paths to "Phishing Alerts".
        - Using the new "Get Original Email - Generic v2" playbook to retrieve original emails as EML files from the following integrations:
          * EWS v2
          * Microsoft Graph Mail integration
          * Gmail
          * FireEye EX and FireEye CM
          * Proofpoint Protection Server
          * Agari Phishing Defense (EWS v2, MSGraph Mail, Gmail)
          * Mimecast
      id: 21d6c60e-f099-4630-89ca-a4df4379e404
      iscommand: false
      name: Process Email - Generic v2
      playbookId: Process Email - Generic v2
      type: playbook
      version: -1
    taskid: 21d6c60e-f099-4630-89ca-a4df4379e404
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -497.5,
          "y": 430
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "97"
      - "98"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0afeccad-58a2-4c05-851f-e74e68e6b985
      iscommand: false
      name: Remediation
      type: title
      version: -1
    taskid: 0afeccad-58a2-4c05-851f-e74e68e6b985
    timertriggers:
    - action: start
      fieldname: remediationsla
    type: title
    view: |-
      {
        "position": {
          "x": 432.5,
          "y": 3930
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 0
    scriptarguments:
      AttachmentName:
        complex:
          accessor: attachmentname
          root: incident
      From:
        complex:
          accessor: reportedemailfrom
          root: incident
          transformers:
          - operator: ExtractEmailTransformer
      O365AllowNotFoundExchangeLocations:
        complex:
          root: inputs.O365AllowNotFoundSearchLocations
      O365DeleteType:
        complex:
          root: inputs.O365DeleteType
      O365ExchangeLocation:
        complex:
          root: .
          transformers:
          - args:
              condition:
                value:
                  simple: lhs==rhs
              else:
                iscontext: true
                value:
                  simple: incident.reportedemailto
              equals: {}
              lhs:
                iscontext: true
                value:
                  simple: inputs.O365ExchangeLocation
              options: {}
              rhs:
                value:
                  simple: All
              then:
                value:
                  simple: All
            operator: If-Then-Else
      O365ExchangeLocationExclusion:
        complex:
          root: inputs.O365ExchangeLocationExclusion
      O365KQL:
        simple: from:${incident.reportedemailfrom} AND subject:"${incident.reportedemailsubject}"
      SearchAndDeleteIntegration:
        complex:
          root: inputs.SearchAndDeleteIntegration
      SearchThisWeek:
        simple: "true"
      Subject:
        complex:
          accessor: emailsubject
          root: incident
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: 'This playbook searches and deletes emails with similar attributes
        of a malicious email using one of the following integrations: * EWS * Office
        365 * Gmail * Agari Phishing Defense'
      id: 55bebeae-32f7-4c61-8034-9b616f6a4663
      iscommand: false
      name: Search And Delete Emails - Generic v2
      playbookId: Search And Delete Emails - Generic v2
      type: playbook
      version: -1
    taskid: 55bebeae-32f7-4c61-8034-9b616f6a4663
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 212.5,
          "y": 4550
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c6980b2d-260a-4978-81c6-5ac79f5a6984
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: c6980b2d-260a-4978-81c6-5ac79f5a6984
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -247.5,
          "y": 5085
        }
      }
  "30":
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "214"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8a0081a4-4e44-4e1c-80bc-13d9bdc89105
      iscommand: false
      name: Email Is Malicious
      type: title
      version: -1
    taskid: 8a0081a4-4e44-4e1c-80bc-13d9bdc89105
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 432.5,
          "y": 3070
        }
      }
  "31":
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4d2efdea-5293-424e-8ba3-49c2192a83a4
      iscommand: false
      name: Undetermined
      type: title
      version: -1
    taskid: 4d2efdea-5293-424e-8ba3-49c2192a83a4
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -920,
          "y": 3070
        }
      }
  "33":
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "No":
      - "151"
      "yes":
      - "149"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is the email that the user reported malicious?
      id: 3945c2b1-79f8-4572-80b6-bde4a220f534
      iscommand: false
      name: Is the email malicious?
      type: condition
      version: -1
    taskid: 3945c2b1-79f8-4572-80b6-bde4a220f534
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -920,
          "y": 3380
        }
      }
  "34":
    continueonerrortype: ""
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Search for and delete emails with similar attributes of the malicious
        email using your existing email platfrom. for example - EWS, Office 365, Gmail
        etc.
      id: 8f9cdca2-c3cc-408b-8fc8-7620f3ac65be
      iscommand: false
      name: Manually search & delete emails
      type: regular
      version: -1
    taskid: 8f9cdca2-c3cc-408b-8fc8-7620f3ac65be
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -200,
          "y": 4550
        }
      }
  "36":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.SearchAndDelete
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "Yes"
    continueonerrortype: ""
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "34"
      "Yes":
      - "152"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the **SearchAndDelete** playbook input is set to
        True.
      id: 4b95ae6d-2db9-42d4-8139-83982d390d18
      iscommand: false
      name: Should emails be searched and deleted?
      type: condition
      version: -1
    taskid: 4b95ae6d-2db9-42d4-8139-83982d390d18
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 212.5,
          "y": 4200
        }
      }
  "39":
    continueonerrortype: ""
    id: "39"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "161"
      - "212"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: cfd46b5e-ae0e-467f-8e2f-eb6ead60661d
      iscommand: false
      name: Start Detection Timer
      type: title
      version: -1
    taskid: cfd46b5e-ae0e-467f-8e2f-eb6ead60661d
    timertriggers:
    - action: start
      fieldname: detectionsla
    type: title
    view: |-
      {
        "position": {
          "x": -497.5,
          "y": -370
        }
      }
  "43":
    continueonerrortype: ""
    id: "43"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: da272c61-d18e-45bc-8a79-2fda9333e111
      iscommand: false
      name: Stop Remediation Timer
      type: title
      version: -1
    taskid: da272c61-d18e-45bc-8a79-2fda9333e111
    timertriggers:
    - action: stop
      fieldname: remediationsla
    type: title
    view: |-
      {
        "position": {
          "x": 432.5,
          "y": 4720
        }
      }
  "52":
    continueonerrortype: ""
    id: "52"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "92"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f65300dc-97c6-434d-8f0c-aae33d67b0f5
      iscommand: false
      name: Indicator Enrichment
      type: title
      version: -1
    taskid: f65300dc-97c6-434d-8f0c-aae33d67b0f5
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -260,
          "y": 1150
        }
      }
  "53":
    continueonerrortype: ""
    id: "53"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 0
    scriptarguments:
      Email:
        complex:
          accessor: reporteremailaddress
          root: incident
          transformers:
          - operator: uniq
      InternalDomains:
        complex:
          root: inputs.InternalDomains
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Enrich email addresses.
        - Get information from Active Directory for internal addresses
        - Get the domain-squatting reputation for external addresses
      id: 79f50251-09d0-42cd-8f5a-ac394c04e9eb
      iscommand: false
      name: Email Address Enrichment - Generic v2.1
      playbookId: Email Address Enrichment - Generic v2.1
      type: playbook
      version: -1
    taskid: 79f50251-09d0-42cd-8f5a-ac394c04e9eb
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 770,
          "y": 450
        }
      }
  "55":
    continueonerrortype: ""
    id: "55"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "160"
      - "162"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook extracts indicators from a file.
        Supported file types:
        - CSV
        - PDF
        - TXT
        - HTM, HTML
        - DOC, DOCX
        - PPT
        - PPTX
        - RTF
        - XLS
        - XLSX
        - XML
      id: bb40f218-f28c-40a8-8708-6e04c5efe8ee
      iscommand: false
      name: Extract Indicators From File - Generic v2
      playbookId: Extract Indicators From File - Generic v2
      type: playbook
      version: -1
    taskid: bb40f218-f28c-40a8-8708-6e04c5efe8ee
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -720,
          "y": 600
        }
      }
  "56":
    continueonerrortype: ""
    id: "56"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "101"
      - "80"
      - "131"
      - "154"
      - "170"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7dce4a68-0b0f-4dd2-8414-f1bae499705b
      iscommand: false
      name: Investigation
      type: title
      version: -1
    taskid: 7dce4a68-0b0f-4dd2-8414-f1bae499705b
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -260,
          "y": 1500
        }
      }
  "79":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.AuthenticateEmail
          operator: isEqualString
          right:
            value:
              simple: "True"
      - - left:
            iscontext: true
            value:
              complex:
                accessor: HeadersMap
                root: Email
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "79"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "84"
      "yes":
      - "82"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the email should be authenticated using DKIM, SPF,
        and DMARC. This checks if "AuthenticateEmail" output is set to "True" and
        if there are headers from an email to authenticate.
      id: 7d5430f6-05ad-43b0-8981-5ff4ca279b02
      iscommand: false
      name: Should the email be authenticated?
      type: condition
      version: -1
    taskid: 7d5430f6-05ad-43b0-8981-5ff4ca279b02
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -260,
          "y": 1865
        }
      }
  "80":
    continueonerrortype: ""
    id: "80"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "79"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3199b5c9-d960-48cf-86a0-50f7ef9976c4
      iscommand: false
      name: Email Authenticity Check
      type: title
      version: -1
    taskid: 3199b5c9-d960-48cf-86a0-50f7ef9976c4
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -260,
          "y": 1730
        }
      }
  "82":
    continueonerrortype: ""
    id: "82"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "83"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      headers:
        complex:
          accessor: Headers
          root: Email
          transformers:
          - operator: uniq
      original_authentication_header:
        complex:
          root: inputs.OriginalAuthenticationHeader
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks the authenticity of an email based on the email's SPF, DMARC,
        and DKIM.
      id: c8261d04-9c8d-4ea0-8c93-c63ce450c2b2
      iscommand: false
      name: Authenticate email
      script: CheckEmailAuthenticity
      type: regular
      version: -1
    taskid: c8261d04-9c8d-4ea0-8c93-c63ce450c2b2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -260,
          "y": 2090
        }
      }
  "83":
    continueonerrortype: ""
    id: "83"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "84"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      emailauthenticitycheck:
        complex:
          accessor: AuthenticityCheck
          root: Email
          transformers:
          - args:
              limit: {}
              replaceWith:
                value:
                  simple: Undetermined
              toReplace:
                value:
                  simple: undetermined
            operator: replace
          - args:
              limit: {}
              replaceWith:
                value:
                  simple: Pass
              toReplace:
                value:
                  simple: pass
            operator: replace
          - args:
              limit: {}
              replaceWith:
                value:
                  simple: Fail
              toReplace:
                value:
                  simple: fail
            operator: replace
          - args:
              limit: {}
              replaceWith:
                value:
                  simple: Suspicious
              toReplace:
                value:
                  simple: suspicious
            operator: replace
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Saves the email authenticity verdict in an incident field.
      id: 970b2c8f-2a4d-422e-838b-5b3789d31391
      iscommand: true
      name: Save authenticity check result to incident field
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 970b2c8f-2a4d-422e-838b-5b3789d31391
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -260,
          "y": 2265
        }
      }
  "84":
    continueonerrortype: ""
    id: "84"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: e3764474-07ff-4c01-8f63-314ce3930612
      iscommand: false
      name: Calculate Severity - Generic v2
      playbookId: Calculate Severity - Generic v2
      type: playbook
      version: -1
    taskid: e3764474-07ff-4c01-8f63-314ce3930612
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -260,
          "y": 2540
        }
      }
  "85":
    continueonerrortype: ""
    id: "85"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
      - "11"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      reporteremailaddress:
        complex:
          accessor: emailfrom
          root: incident
          transformers:
          - operator: ExtractEmailTransformer
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Saves the email address of the email reporter in an incident field.
      id: 8a356572-82b3-4bcb-8d4c-3be1d7c9759c
      iscommand: true
      name: Save reporter email address in field
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 8a356572-82b3-4bcb-8d4c-3be1d7c9759c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -250,
          "y": 80
        }
      }
  "88":
    continueonerrortype: ""
    id: "88"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "160"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a559978b-ee2b-4aea-86a3-2e0e11792426
      iscommand: false
      name: Machine Learning
      type: title
      version: -1
    taskid: a559978b-ee2b-4aea-86a3-2e0e11792426
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -1262.5,
          "y": 600
        }
      }
  "92":
    continueonerrortype: ""
    id: "92"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "56"
    note: false
    quietmode: 0
    scriptarguments:
      Domain:
        complex:
          accessor: Name
          root: Domain
          transformers:
          - operator: uniq
      Email:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: Account.Email.Address
              operator: isNotEqualString
              right:
                iscontext: true
                value:
                  simple: incident.reporteremailaddress
          - - left:
                iscontext: true
                value:
                  simple: Account.Email.Address
              operator: isNotEqualString
              right:
                iscontext: true
                value:
                  simple: ListenerMailbox
          root: Account.Email.Address
          transformers:
          - operator: uniq
      Hostname:
        complex:
          accessor: Hostname
          root: Endpoint
          transformers:
          - operator: uniq
      IP:
        complex:
          accessor: Address
          root: IP
          transformers:
          - operator: uniq
      InternalDomains:
        complex:
          root: inputs.InternalDomains
      InternalRange:
        complex:
          root: inputs.InternalRange
      MD5:
        complex:
          accessor: MD5
          root: File
          transformers:
          - operator: uniq
      ResolveIP:
        simple: "False"
      SHA1:
        complex:
          accessor: SHA1
          root: File
          transformers:
          - operator: uniq
      SHA256:
        complex:
          accessor: SHA256
          root: File
          transformers:
          - operator: uniq
      URL:
        complex:
          accessor: Data
          root: URL
          transformers:
          - operator: uniq
      Username:
        complex:
          accessor: Username
          root: Account
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Enrich entities using one or more integrations
      id: 2882a1aa-fa10-46a4-8433-63e9006a104b
      iscommand: false
      name: Entity Enrichment - Phishing v2
      playbookId: Entity Enrichment - Phishing v2
      type: playbook
      version: -1
    taskid: 2882a1aa-fa10-46a4-8433-63e9006a104b
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -260,
          "y": 1290
        }
      }
  "97":
    continueonerrortype: ""
    id: "97"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "213"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0e1be0d2-b53f-4906-82a3-45f5e9f7f1b1
      iscommand: false
      name: Block Indicators
      type: title
      version: -1
    taskid: 0e1be0d2-b53f-4906-82a3-45f5e9f7f1b1
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 640,
          "y": 4070
        }
      }
  "98":
    continueonerrortype: ""
    id: "98"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c76a7049-1448-41cd-8d9f-7a65be7ce808
      iscommand: false
      name: Search & Delete Email
      type: title
      version: -1
    taskid: c76a7049-1448-41cd-8d9f-7a65be7ce808
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 212.5,
          "y": 4070
        }
      }
  "101":
    continueonerrortype: ""
    id: "101"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "126"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c8231b7e-4ec4-4d15-838c-517280a1618c
      iscommand: false
      name: Email Campaign Search
      type: title
      version: -1
    taskid: c8231b7e-4ec4-4d15-838c-517280a1618c
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -910,
          "y": 1730
        }
      }
  "126":
    continueonerrortype: ""
    id: "126"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "84"
    note: false
    quietmode: 0
    scriptarguments:
      AutomaticallyLinkIncidents:
        simple: "True"
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: |-
        This playbook is part of the Phishing Campaign content pack.
        It is used to find, create, and manage phishing campaigns. When a number of similar phishing incidents exist in the system, the playbook can be used to do the following:
        1. Find and link related incidents to the same phishing attack (a phishing campaign).
        2. Search for an existing Phishing Campaign incident, or create a new incident for the linked Phishing incidents.
        3. Link all detected phishing incidents to the Phishing Campaign incident that was found or that was created previously.
        4. Update the Phishing Campaign incident with the latest data about the campaign, and update all related phishing incidents to indicate that they are part of the campaign.
      id: 6bbdb96d-f6c3-40d5-8fae-9504691e0d01
      iscommand: false
      name: Detect & Manage Phishing Campaigns
      playbookName: Detect & Manage Phishing Campaigns
      type: playbook
      version: -1
    taskid: 6bbdb96d-f6c3-40d5-8fae-9504691e0d01
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -910,
          "y": 1865
        }
      }
  "131":
    continueonerrortype: ""
    id: "131"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "132"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: facfcc4c-908f-43bb-820e-13ea738f5393
      iscommand: false
      name: Microsoft's Headers Check
      type: title
      version: -1
    taskid: facfcc4c-908f-43bb-820e-13ea738f5393
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -1557.5,
          "y": 1730
        }
      }
  "132":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.CheckMicrosoftHeaders
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "132"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "84"
      "yes":
      - "133"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to check Microsoft's proprietary email headers.
      id: a2c4cb6b-ebcd-4626-846d-8f7163f33ec2
      iscommand: false
      name: Check Microsoft's Headers?
      type: condition
      version: -1
    taskid: a2c4cb6b-ebcd-4626-846d-8f7163f33ec2
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -1557.5,
          "y": 1865
        }
      }
  "133":
    continueonerrortype: ""
    id: "133"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "84"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: "This playbook stores the SCL, BCL, and PCL scores if they exist
        to the associated incident fields (Phishing SCL Score, Phishing PCL Score,
        and Phishing BCL Score).\nIt also does the following:\n1) Sets the email classification
        to \"spam\" if the SCL score is equal to or greater than 5.\n2) Sets the incident
        severity according to the playbook inputs (default is: PCL/BCL - Medium, SCL
        - Low). The severity of the incident is set only when one (or more) of the
        following occurs:\n  - PCL (Phishing Confidence Level) score between and including
        4-8: The message content is likely to be phishing.\n  - [BCL](https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/bulk-complaint-level-values?view=o365-worldwide)
        (Bulk Complaint Level) score between and including 4-7: The message is from
        a bulk sender that generates a mixed number of complaints. \n    For a score
        between and including 8-9: The message is from a bulk sender that generates
        a high number of complaints.\n  - [SCL](https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/spam-confidence-levels?view=o365-worldwide)
        (Spam Confidence Level) score between and including 5-6: Spam filtering marks
        the message as spam. \n    For a score of 9: Spam filtering marks the message
        as high confidence spam. See [anti-spam stamps](https://docs.microsoft.com/en-us/exchange/antispam-and-antimalware/antispam-protection/antispam-stamps?view=exchserver-2019)."
      id: 0adbc122-d00f-464b-84dc-0b9212e9615b
      iscommand: false
      name: Process Microsoft's Anti-Spam Headers
      playbookId: Process Microsoft's Anti-Spam Headers
      type: playbook
      version: -1
    taskid: 0adbc122-d00f-464b-84dc-0b9212e9615b
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -1557.5,
          "y": 2080
        }
      }
  "135":
    continueonerrortype: ""
    id: "135"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "52"
    note: false
    quietmode: 0
    scriptarguments:
      URL:
        complex:
          root: URL
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: This playbook detonates URLs using active integrations that support
        URL detonation.
      id: a7af8e52-9693-46d3-8532-25e557d91136
      iscommand: false
      name: Detonate URL - Generic
      playbookId: detonate_url_-_generic
      type: playbook
      version: -1
    taskid: a7af8e52-9693-46d3-8532-25e557d91136
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -260,
          "y": 850
        }
      }
  "137":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.DetonateURL
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "137"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "52"
      "yes":
      - "135"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to detonate URLs in supported sandboxes.
      id: beafe4ee-c41d-4691-845b-a4441cc2904e
      iscommand: false
      name: Detonate URL?
      type: condition
      version: -1
    taskid: beafe4ee-c41d-4691-845b-a4441cc2904e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -260,
          "y": 600
        }
      }
  "148":
    continueonerrortype: ""
    id: "148"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "27"
    note: false
    quietmode: 0
    scriptarguments:
      body:
        simple: |-
          Hi ${.=function(val) { if(!(val.Account.length > 1)) return val.incident.reporteremailaddress; var reporter = val.incident.reporteremailaddress; var account = val.Account && val.Account.filter(function(acc) { return acc.DisplayName && (acc.Email  === reporter || Array.isArray(acc.Email) && acc.Email.indexOf(reporter) > -1) }); return account && account[0] && account[0].DisplayName[0] || reporter || ''; }(val)},
          We've concluded that the email you forwarded to us is malicious. No further action is required on your part. Good job on detecting and forwarding it to us!

          All the best,
            Your security team
      subject:
        simple: 'Re: Phishing Investigation - ${incident.name}'
      to:
        complex:
          accessor: reporteremailaddress
          root: incident
      using:
        simple: ${inputs.SendMailInstance}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends an email to the user explaining that the email they reported
        is malicious.
      id: 2d396b3f-9b41-4567-87f6-0085debc2cbd
      iscommand: true
      name: Update the user that the reported email is malicious
      script: '|||send-mail'
      type: regular
      version: -1
    taskid: 2d396b3f-9b41-4567-87f6-0085debc2cbd
    timertriggers:
    - action: stop
      fieldname: detectionsla
    type: regular
    view: |-
      {
        "position": {
          "x": 190,
          "y": 3760
        }
      }
  "149":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: PartOfCampaign
          operator: isNotEmpty
          right:
            value: {}
      - - left:
            iscontext: true
            value:
              complex:
                accessor: reporteremailaddress
                root: incident
          operator: isNotEmpty
      label: yes - phishing campaign
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: reporteremailaddress
                root: incident
          operator: isNotEmpty
      label: yes - phishing
    continueonerrortype: ""
    id: "149"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "27"
      yes - phishing:
      - "148"
      yes - phishing campaign:
      - "150"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the user can be informed about the verdict of the
        incident.
      id: 85a88cc4-822e-45d3-8c91-2ea8429fb5de
      iscommand: false
      name: Can the user be informed about the verdict?
      type: condition
      version: -1
    taskid: 85a88cc4-822e-45d3-8c91-2ea8429fb5de
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 432.5,
          "y": 3550
        }
      }
  "150":
    continueonerrortype: ""
    id: "150"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "27"
    note: false
    quietmode: 0
    scriptarguments:
      body:
        simple: |-
          Hi ${.=function(val) { if(!(val.Account.length > 1)) return val.incident.reporteremailaddress; var reporter = val.incident.reporteremailaddress; var account = val.Account && val.Account.filter(function(acc) { return acc.DisplayName && (acc.Email  === reporter || Array.isArray(acc.Email) && acc.Email.indexOf(reporter) > -1) }); return account && account[0] && account[0].DisplayName[0] || reporter || ''; }(val)},
          We've concluded that the email you forwarded to us is part of a bigger phishing campaign that targeted our company. No further action is required on your part. Good job on detecting and forwarding it to us!

          All the best,
            Your security team
      subject:
        simple: 'Re: Phishing Investigation - ${incident.name}'
      to:
        complex:
          accessor: reporteremailaddress
          root: incident
      using:
        simple: ${inputs.SendMailInstance}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends an email to the user explaining that the email they reported
        is malicious.
      id: 8690c7f2-7d21-479e-8ebb-5ead69f4d365
      iscommand: true
      name: Update the user that the email is a malicious campaign
      script: '|||send-mail'
      type: regular
      version: -1
    taskid: 8690c7f2-7d21-479e-8ebb-5ead69f4d365
    timertriggers:
    - action: stop
      fieldname: detectionsla
    type: regular
    view: |-
      {
        "position": {
          "x": 660,
          "y": 3760
        }
      }
  "151":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: reporteremailaddress
                root: incident
          operator: isNotEmpty
          right:
            value: {}
      label: "Yes"
    continueonerrortype: ""
    id: "151"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      "Yes":
      - "16"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the user can be informed about the verdict of the
        incident.
      id: 24f60f13-9374-4819-8f45-1661e29a5297
      iscommand: false
      name: Can the user be informed about the verdict?
      type: condition
      version: -1
    taskid: 24f60f13-9374-4819-8f45-1661e29a5297
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -920,
          "y": 3560
        }
      }
  "152":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: reportedemailfrom
                root: incident
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "152"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "34"
      "yes":
      - "28"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if the original email was retrieved using the email listener
        integration.
      id: 2b316bdf-fc22-44c7-8991-38bac2e1947d
      iscommand: false
      name: Check if original email was retrieved
      type: condition
      version: -1
    taskid: 2b316bdf-fc22-44c7-8991-38bac2e1947d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 212.5,
          "y": 4375
        }
      }
  "153":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: DBotScore.Vendor
                    operator: isEqualString
                    right:
                      value:
                        simple: DomainSquatting
                - - left:
                      iscontext: true
                      value:
                        simple: DBotScore.Indicator
                    operator: isEqualString
                    right:
                      iscontext: true
                      value:
                        simple: incident.reportedemailfrom
                - - left:
                      iscontext: true
                      value:
                        simple: DBotScore.Score
                    operator: greaterThanOrEqual
                    right:
                      value:
                        simple: "2"
                root: DBotScore
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "153"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "84"
      "yes":
      - "155"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the attacker tried to squat another domain involved
        in this incident.
      id: 54c0f37b-b540-413b-8d1d-ff2f3c44e100
      iscommand: false
      name: Did domain-squatting occur?
      type: condition
      version: -1
    taskid: 54c0f37b-b540-413b-8d1d-ff2f3c44e100
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 310,
          "y": 1865
        }
      }
  "154":
    continueonerrortype: ""
    id: "154"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "153"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 74f8be3e-bd84-492b-8e45-e6ebd2d4cdd9
      iscommand: false
      name: Domain-squatting
      type: title
      version: -1
    taskid: 74f8be3e-bd84-492b-8e45-e6ebd2d4cdd9
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 310,
          "y": 1730
        }
      }
  "155":
    continueonerrortype: ""
    id: "155"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "84"
    note: false
    quietmode: 0
    scriptarguments:
      domainsquattingresult:
        complex:
          accessor: Indicator
          filters:
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Vendor
              operator: isEqualString
              right:
                value:
                  simple: DomainSquatting
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Indicator
              operator: isEqualString
              right:
                iscontext: true
                value:
                  simple: incident.reportedemailfrom
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Score
              operator: greaterThanOrEqual
              right:
                value:
                  simple: "2"
          root: DBotScore
          transformers:
          - operator: uniq
          - args:
              delimiter:
                value:
                  simple: '@'
            operator: split
          - operator: LastArrayElement
          - args:
              prefix:
                value:
                  simple: The attacker used the domain **
              suffix: {}
            operator: concat
          - args:
              prefix: {}
              suffix:
                value:
                  simple: '** which looks like another domain involved in this incident.'
            operator: concat
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: b58fc3ce-c37a-46c4-839b-ea035ef824de
      iscommand: true
      name: Save domain-squatting result to incident field
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: b58fc3ce-c37a-46c4-839b-ea035ef824de
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 310,
          "y": 2090
        }
      }
  "157":
    continueonerrortype: ""
    id: "157"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
      - "18"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: da6b5b52-1e6b-49b3-8b06-e05fa81f57fe
      iscommand: false
      name: Reporter Address specified
      type: title
      version: -1
    taskid: da6b5b52-1e6b-49b3-8b06-e05fa81f57fe
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 300,
          "y": 80
        }
      }
  "160":
    continueonerrortype: ""
    id: "160"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "84"
    note: false
    quietmode: 0
    scriptarguments:
      DBotPredictURLPhishingURLsNumber:
        complex:
          root: inputs.DBotPredictURLPhishingURLsNumber
      EmailHTML:
        complex:
          accessor: HTML
          root: Email
      EmailSubject:
        complex:
          accessor: Subject
          root: Email
      EmailText:
        complex:
          accessor: Text
          root: Email
      ExtractedURLsFromFiles:
        complex:
          root: ExtractedURLsFromFiles
          transformers:
          - operator: uniq
      PhishingModelName:
        complex:
          root: inputs.PhishingModelName
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: a549cbfe-fd79-4ccc-8701-5998ed42e51d
      iscommand: false
      name: Phishing - Machine Learning Analysis
      playbookId: Phishing - Machine Learning Analysis
      type: playbook
      version: -1
    taskid: a549cbfe-fd79-4ccc-8701-5998ed42e51d
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -1262.5,
          "y": 795
        }
      }
  "161":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: reporteremailaddress
                root: incident
          operator: isNotEmpty
          right:
            value: {}
      label: "Yes"
    - condition:
      - - left:
            iscontext: true
            value:
              simple: incident.sourceBrand
          operator: isEqualString
          right:
            value:
              simple: Manual
        - left:
            iscontext: true
            value:
              simple: incident.sourceBrand
          operator: isEmpty
      label: No - Manual
    - condition:
      - - left:
            iscontext: true
            value:
              simple: incident.sourceBrand
          operator: isNotEqualString
          right:
            value:
              simple: Manual
      label: "No"
    continueonerrortype: ""
    id: "161"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "No":
      - "85"
      No - Manual:
      - "11"
      "Yes":
      - "157"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the email address of the phishing email reporter
        was specified on incident creation, so that an acknowledgement email can be
        sent to them.
      id: de1d06a0-e330-4fcc-8583-40f697e2342f
      iscommand: false
      name: Was the reporter of the phishing email specified?
      type: condition
      version: -1
    taskid: de1d06a0-e330-4fcc-8583-40f697e2342f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -497.5,
          "y": -190
        }
      }
  "162":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: macro_src_code
                root: Oletools.Olevba.ole_command_result
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "162"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "52"
      "yes":
      - "163"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 16c50c85-20d5-4abe-874d-ff7033a668b4
      iscommand: false
      name: Was a file with macro found?
      type: condition
      version: -1
    taskid: 16c50c85-20d5-4abe-874d-ff7033a668b4
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -720,
          "y": 790
        }
      }
  "163":
    continueonerrortype: ""
    id: "163"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "52"
    note: false
    quietmode: 0
    scriptarguments:
      macrosourcecode:
        complex:
          accessor: macro_src_code
          root: Oletools.Olevba.ole_command_result
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: bd58f4b7-8f39-4650-8766-836143279d85
      iscommand: true
      name: Set Macro Source Code field
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: bd58f4b7-8f39-4650-8766-836143279d85
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -720,
          "y": 975
        }
      }
  "170":
    continueonerrortype: ""
    id: "170"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "179"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b52489d5-597e-468b-8ba5-3f3277ff2890
      iscommand: false
      name: Email Indicators Hunting
      type: title
      version: -1
    taskid: b52489d5-597e-468b-8ba5-3f3277ff2890
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 860,
          "y": 1730
        }
      }
  "179":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.HuntEmailIndicators
          operator: isEqualString
          right:
            value:
              simple: "True"
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Indicator
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: DBotScore.Type
                    operator: isEqualString
                    right:
                      value:
                        simple: url
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: DBotScore.Type
                    operator: isEqualString
                    right:
                      value:
                        simple: ip
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: DBotScore.Type
                    operator: isEqualString
                    right:
                      value:
                        simple: domain
                - - left:
                      iscontext: true
                      value:
                        simple: DBotScore.Score
                    operator: greaterThanOrEqual
                    right:
                      value:
                        simple: "3"
                root: DBotScore
          operator: isNotEmpty
        - left:
            iscontext: true
            value:
              complex:
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: DBotScore.Type
                    operator: isEqualString
                    right:
                      value:
                        simple: file
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: DBotScore.Type
                    operator: isEqualString
                    right:
                      value:
                        simple: hash
                - - left:
                      iscontext: true
                      value:
                        simple: DBotScore.Score
                    operator: greaterThanOrEqual
                    right:
                      value:
                        simple: "3"
                - - left:
                      iscontext: true
                      value:
                        simple: DBotScore.Indicator
                    operator: stringHasLength
                    right:
                      value:
                        simple: "64"
                root: DBotScore.Indicator
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "179"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "84"
      "yes":
      - "211"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ca0d4a0f-2c78-49de-8792-63b4eb33720b
      iscommand: false
      name: Hunt email indicators?
      type: condition
      version: -1
    taskid: ca0d4a0f-2c78-49de-8792-63b4eb33720b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 860,
          "y": 1865
        }
      }
  "211":
    continueonerrortype: ""
    id: "211"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "84"
    note: false
    quietmode: 0
    scriptarguments:
      DBotScore:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Score
              operator: greaterThanOrEqual
              right:
                value:
                  simple: "3"
          root: DBotScore
      EmailHuntingCreateNewIncidents:
        complex:
          root: inputs.EmailHuntingCreateNewIncidents
      ListenerMailbox:
        complex:
          root: ListenerMailbox
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: |
        Hunt indicators related to phishing with available integrations and handle the results. Handling the results will include setting relevant incident fields which will be displayed in the layout and optionally, opening new incidents according to the findings.
        Current integration in this playbook:
        - Microsoft 365 Defender (using "Advanced Hunting")

        Note that this playbook should be used as a sub-playbook inside a phishing incident and not as a main playbook.
      id: b48c1fe5-04a9-45a5-8065-ba32f45a9697
      iscommand: false
      name: Phishing - Indicators Hunting
      playbookId: Phishing - Indicators Hunting
      type: playbook
      version: -1
    taskid: b48c1fe5-04a9-45a5-8065-ba32f45a9697
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 860,
          "y": 2090
        }
      }
  "212":
    continueonerrortype: ""
    id: "212"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: ListenerMailbox
      value:
        complex:
          root: .
          transformers:
          - args:
              condition:
                value:
                  simple: lhs!=rhs
              else:
                iscontext: true
                value:
                  simple: incident.emailto
              equals: {}
              lhs:
                iscontext: true
                value:
                  simple: inputs.ListenerMailbox
              options: {}
              rhs: {}
              then:
                iscontext: true
                value:
                  simple: inputs.ListenerMailbox
            operator: If-Then-Else
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: In order to exclude the listener mailbox from hunting actions,
        it is needed to save it (before it changes) in a dedicated field.
      id: fb5399de-7b6d-4c38-8d94-81f79246c46c
      iscommand: false
      name: Set Listener Mailbox
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: fb5399de-7b6d-4c38-8d94-81f79246c46c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -757.5,
          "y": -15
        }
      }
  "213":
    continueonerrortype: ""
    id: "213"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 0
    scriptarguments:
      AutoBlockIndicators:
        complex:
          root: inputs.BlockIndicators
      DomainToBlock:
        complex:
          accessor: Indicator
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: DBotScore.Type
              operator: isEqualString
              right:
                value:
                  simple: domain
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Score
              operator: greaterThanOrEqual
              right:
                value:
                  simple: "3"
          root: DBotScore
          transformers:
          - operator: uniq
      EmailToBlock:
        complex:
          accessor: Indicator
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: DBotScore.Type
              operator: isEqualString
              right:
                value:
                  simple: email
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Score
              operator: greaterThanOrEqual
              right:
                value:
                  simple: "3"
          root: DBotScore
          transformers:
          - operator: uniq
      FilesToBlock:
        complex:
          accessor: Indicator
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: DBotScore.Type
              operator: isEqualString
              right:
                value:
                  simple: file
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Score
              operator: greaterThanOrEqual
              right:
                value:
                  simple: "3"
          root: DBotScore
          transformers:
          - operator: uniq
      IP:
        complex:
          accessor: Indicator
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: DBotScore.Type
              operator: isEqualString
              right:
                value:
                  simple: ip
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Score
              operator: greaterThanOrEqual
              right:
                value:
                  simple: "3"
          root: DBotScore
          transformers:
          - operator: uniq
      InputEnrichment:
        simple: "False"
      RuleDirection:
        simple: outbound
      RuleName:
        simple: XSOAR - Block Indicators playbook - ${incident.id}
      URL:
        complex:
          accessor: Indicator
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: DBotScore.Type
              operator: isEqualString
              right:
                value:
                  simple: url
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Score
              operator: greaterThanOrEqual
              right:
                value:
                  simple: "3"
          root: DBotScore
          transformers:
          - operator: uniq
      UserVerification:
        simple: "False"
      Username:
        complex:
          accessor: Indicator
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: DBotScore.Type
              operator: isEqualString
              right:
                value:
                  simple: username
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Score
              operator: greaterThanOrEqual
              right:
                value:
                  simple: "3"
          root: DBotScore
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |+
        This playbook blocks malicious indicators using all integrations that are enabled, using the following sub-playbooks:

        - Block URL - Generic v2
        - Block Account - Generic v2
        - Block IP - Generic v3
        - Block File - Generic v2
        - Block Email - Generic
        - Block Domain - Generic

      id: 3236a5b0-5234-448d-8842-67142d698e5d
      iscommand: false
      name: Block Indicators - Generic v3
      playbookId: Block Indicators - Generic v3
      type: playbook
      version: -1
    taskid: 3236a5b0-5234-448d-8842-67142d698e5d
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 640,
          "y": 4200
        }
      }
  "214":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: reportedemailfrom
                root: incident
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "214"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "149"
      "yes":
      - "215"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d52768e3-e3b4-4ef1-8b97-9f6acbc14e88
      iscommand: false
      name: Phishing email sender address exist?
      type: condition
      version: -1
    taskid: d52768e3-e3b4-4ef1-8b97-9f6acbc14e88
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 432.5,
          "y": 3200
        }
      }
  "215":
    continueonerrortype: ""
    id: "215"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "149"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        complex:
          accessor: reportedemailfrom
          root: incident
      verdict:
        simple: Malicious
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.indicator
      id: 04d6d0cd-28fb-4473-8a27-cfe1b8f16460
      iscommand: true
      name: Set phishing email sender address verdict as malicious
      script: Builtin|||setIndicator
      type: regular
      version: -1
    taskid: 04d6d0cd-28fb-4473-8a27-cfe1b8f16460
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 660,
          "y": 3380
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "132_133_yes": 0.55,
      "132_84_#default#": 0.13,
      "137_135_yes": 0.54,
      "137_52_#default#": 0.16,
      "149_148_yes - phishing": 0.66,
      "149_27_#default#": 0.21,
      "151_16_Yes": 0.57,
      "151_8_#default#": 0.22,
      "152_28_yes": 0.38,
      "153_155_yes": 0.44,
      "153_84_#default#": 0.1,
      "15_31_#default#": 0.6,
      "162_163_yes": 0.41,
      "162_52_#default#": 0.22,
      "179_211_yes": 0.5,
      "179_84_#default#": 0.1,
      "214_215_yes": 0.37,
      "33_149_yes": 0.18,
      "36_152_Yes": 0.49,
      "79_82_yes": 0.46,
      "79_84_#default#": 0.17
    },
    "paper": {
      "dimensions": {
        "height": 5660,
        "width": 2797.5,
        "x": -1557.5,
        "y": -510
      }
    }
  }
